.blind [class*=makeStyles-userCard-] {
  height: 170px;
}
.blind [class*=makeStyles-centralBtn-] {
  font-size: 22px;
  line-height: 22px;
  font-weight: bold;
}
.blind [class*=makeStyles-userBtnLink-] {
  font-size: 22px;
  line-height: 22px;
  font-weight: bold;
}
.blind [class*=makeStyles-userName-] {
  font-size: 22px;
  line-height: 30px;
  font-weight: bold;
}
.blind [class*=makeStyles-userCity-] {
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
  color: black;
} 
.blind [class*=makeStyles-leftBlockContentTitle-] {
  font-size: 22px;
  line-height: 30px;
  font-weight: bold;
}
.blind [class*=makeStyles-leftBlockContentText-] {
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
} 
.blind [class*=makeStyles-rightBlockTitle-] {
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
} 
.blind [class*=makeStyles-textarea-] {
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
} 
.blind [class*=makeStyles-rightBlockBtn-] {
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
}
.blind [class*=makeStyles-userInfo-] {
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
}
.blind [class*=makeStyles-showAll-] {
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
}
.blind [class*=makeStyles-cardTitle-] {
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
} 
.blind [class*=makeStyles-cardText-] {
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
} 
.blind [class*=makeStyles-postName-] {
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
} 
.blind [class*=makeStyles-postBody-] {
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
} 
.blind [class*=makeStyles-commName-] {
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
} 
.blind [class*=makeStyles-commEmail-] {
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
} 
.blind [class*=makeStyles-commText-] {
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
} 
.blind [class*=makeStyles-openModalBtn-] {
  width: 300px;
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
} 