.admin_panel {
  min-height: 100%;
  .admin_books {
    margin: 0 auto;
    min-height: 100%;
    display: grid;
    grid-template-columns: repeat(7,270px);
    justify-items: stretch;
    .book_card {
      display: grid;
      grid-template-areas: 
      "A B"
      "C C";
      text-transform: capitalize;
      color: #222;;
      :hover {
        color: #eb3246;
      }
      .book_img {
        grid-area: A;
        text-align: center;
        padding: 14px 20px 14px;
        img {
          width: 70px;
          height: 100px;
        }
      }
      .book_text {
        grid-area: B;
        height: 100px;
        padding: 14px 14px 14px 0px;
        .book_title {
          font-weight: 600;
          font-style: normal;
          padding: 4px 0px 4px;
          font-size: 15px;
        }
        .book_author {
          padding: 4px 0px 4px;
          font-weight: 600;
          font-size: 12px;
          font-style: normal;
        }
        .book_dateRealeased {
          padding: 4px 0px 4px;
          font-weight: 200;
          font-size: 14px;
          font-style: normal;
        }
        .book_dateContext {
          padding: 4px 0px 4px;
          font-weight: 200;
          font-size: 14px;
          font-style: normal;
        }
      }
    }
    .book_button {
      grid-area: C;
      padding: 0px 14px 0px;
      .books_delete {
        padding: 1px 3px !important;
      }
      .books_edit {
        padding: 1px 3px !important;
      }
    }
  }
  a:-webkit-any-link {
    text-decoration: none;
  }
}


