@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  .wrapper {
    height: 100vh;
    @media screen and (max-width: 992px) {
      .bg-dark {
        background: rgb(0, 0, 0, 0)!important;
      }
    }
    @media screen and (min-width: 992px) {
      .bg-dark {
        background: rgb(0, 0, 0)!important;
      }
    }
    .page-header {
      position: absolute;
      padding: 0;
      width: 100%;
      z-index: 100;
      .collapsing, .collapse, .show {
        align-items: center;
        .navbar-nav {
          justify-content: center;
          .nav-item {
            height: 5vh;
            list-style: none;
            display: inline-block;
            cursor: pointer;
            .nav-link {
              text-decoration: none;
              text-transform: uppercase;
              color: whitesmoke;
              opacity: 1;
            }
          }
        }
      }
    }
    @media screen and (min-width: 992px) {
      .page-content {
        padding-top: 5vh;
      }
    }
    .page-content {
      width: 100%;
      font-family: 'Open Sans', sans-serif;
      background: #444;
      .carousel {
        background:#444;
        text-align: center;
        .carousel-item .img-fluid {
          max-width: 200%;
        }
        @media screen and (min-device-width: 2160px) {
          .img-fluid {
            margin: 0 auto;
            min-width: 0% !important;
            max-width: 2100px !important;
            max-height: calc(100vh - 10vh);
          }
        }
        @media screen and (min-device-width: 1921px) {
          .img-fluid {
            margin: 0 auto;
            min-width: 0% !important;
            max-width: 1920px !important;
            max-height: calc(100vh - 10vh);
          }
        }
        @media screen and (min-device-width: 992px) {
          .img-fluid {
            min-width: 100%;
            max-height: calc(100vh - 10vh);
          }
        }
        @media (min-device-width: 279px) and (max-device-width: 800px) and (orientation: portrait) {
          .img-fluid {
            min-width: 100%;
            max-height: calc(100vh - 5vh);
          }
        }
        @media (min-device-width: 279px) and (max-device-width: 800px) and (orientation: landscape) {
          .img-fluid {
            min-width: 100%;
            max-height: calc(100vh - 5vh);
          }
        }
      }
    }
    .page-footer {
      height: 5vh;
      background: rgb(0, 0, 0);
      color: whitesmoke;
    }
  }
}

