@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media only screen and (pointer: coarse) and (min-width: 279px) and (max-width: 769px) and (orientation: landscape) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
}
html, body {
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, black 25%, transparent 25%) -50px 0, linear-gradient(225deg, black 25%, transparent 25%) -50px 0, linear-gradient(315deg, black 25%, transparent 25%), linear-gradient(45deg, black 25%, transparent 25%);
  background-size: 2em 2em;
  background-color: #232323;
}
html .wrapper, body .wrapper {
  height: 100vh;
}
@media screen and (max-width: 992px) {
  html .wrapper .bg-dark, body .wrapper .bg-dark {
    background: rgba(0, 0, 0, 0) !important;
  }
  html .wrapper .page-header, body .wrapper .page-header {
    box-shadow: none !important;
    top: 10px;
    left: 20px;
    width: 100px !important;
  }
}
@media screen and (min-width: 992px) {
  html .wrapper .bg-dark, body .wrapper .bg-dark {
    background: rgb(0, 0, 0) !important;
  }
}
html .wrapper .page-header, body .wrapper .page-header {
  position: absolute;
  height: 50px;
  padding: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 5px 10px 5px rgba(49, 49, 49, 0.6);
}
html .wrapper .page-header .navbar-toggler:hover, body .wrapper .page-header .navbar-toggler:hover {
  box-shadow: 5px 5px 5px rgba(49, 49, 49, 0.6);
}
html .wrapper .page-header .navbar-toggler:focus, body .wrapper .page-header .navbar-toggler:focus {
  outline: none !important;
  box-shadow: 5px 5px 5px rgba(49, 49, 49, 0.6);
}
html .wrapper .page-header .collapsing, html .wrapper .page-header .collapse, html .wrapper .page-header .show, body .wrapper .page-header .collapsing, body .wrapper .page-header .collapse, body .wrapper .page-header .show {
  align-items: center;
}
html .wrapper .page-header .collapsing .navbar-nav, html .wrapper .page-header .collapse .navbar-nav, html .wrapper .page-header .show .navbar-nav, body .wrapper .page-header .collapsing .navbar-nav, body .wrapper .page-header .collapse .navbar-nav, body .wrapper .page-header .show .navbar-nav {
  justify-content: center;
  margin: 0 auto;
}
html .wrapper .page-header .collapsing .navbar-nav .nav-item, html .wrapper .page-header .collapse .navbar-nav .nav-item, html .wrapper .page-header .show .navbar-nav .nav-item, body .wrapper .page-header .collapsing .navbar-nav .nav-item, body .wrapper .page-header .collapse .navbar-nav .nav-item, body .wrapper .page-header .show .navbar-nav .nav-item {
  list-style: none;
  display: inline-block;
  cursor: pointer;
}
html .wrapper .page-header .collapsing .navbar-nav .nav-item .nav-link, html .wrapper .page-header .collapse .navbar-nav .nav-item .nav-link, html .wrapper .page-header .show .navbar-nav .nav-item .nav-link, body .wrapper .page-header .collapsing .navbar-nav .nav-item .nav-link, body .wrapper .page-header .collapse .navbar-nav .nav-item .nav-link, body .wrapper .page-header .show .navbar-nav .nav-item .nav-link {
  text-decoration: none;
  text-transform: uppercase;
  color: whitesmoke;
}
@media screen and (max-width: 992px) {
  html .wrapper .page-header .collapsing .navbar-nav .nav-item .dropdown-menu, html .wrapper .page-header .collapse .navbar-nav .nav-item .dropdown-menu, html .wrapper .page-header .show .navbar-nav .nav-item .dropdown-menu, body .wrapper .page-header .collapsing .navbar-nav .nav-item .dropdown-menu, body .wrapper .page-header .collapse .navbar-nav .nav-item .dropdown-menu, body .wrapper .page-header .show .navbar-nav .nav-item .dropdown-menu {
    position: absolute;
    top: -10px;
    left: 100px;
    width: 300px;
    background: rgba(0, 0, 0, 0) !important;
  }
}
html .wrapper .page-header .collapsing .navbar-nav .nav-item .dropdown-menu, html .wrapper .page-header .collapse .navbar-nav .nav-item .dropdown-menu, html .wrapper .page-header .show .navbar-nav .nav-item .dropdown-menu, body .wrapper .page-header .collapsing .navbar-nav .nav-item .dropdown-menu, body .wrapper .page-header .collapse .navbar-nav .nav-item .dropdown-menu, body .wrapper .page-header .show .navbar-nav .nav-item .dropdown-menu {
  background: rgb(0, 0, 0);
  border: 1px solid rgba(150, 150, 150, 0.15);
  box-shadow: 5px 5px 5px rgba(49, 49, 49, 0.6);
}
html .wrapper .page-header .collapsing .navbar-nav .nav-item .dropdown-menu .dropdown-item, html .wrapper .page-header .collapse .navbar-nav .nav-item .dropdown-menu .dropdown-item, html .wrapper .page-header .show .navbar-nav .nav-item .dropdown-menu .dropdown-item, body .wrapper .page-header .collapsing .navbar-nav .nav-item .dropdown-menu .dropdown-item, body .wrapper .page-header .collapse .navbar-nav .nav-item .dropdown-menu .dropdown-item, body .wrapper .page-header .show .navbar-nav .nav-item .dropdown-menu .dropdown-item {
  text-transform: uppercase;
  color: whitesmoke;
}
@media screen and (min-width: 992px) {
  html .wrapper .page-content, body .wrapper .page-content {
    padding-top: 50px;
  }
}
html .wrapper .page-content, body .wrapper .page-content {
  width: 100%;
  font-family: "Open Sans", sans-serif;
  background: #444;
}
html .wrapper .page-content .carousel, body .wrapper .page-content .carousel {
  background: #444;
  text-align: center;
}
html .wrapper .page-content .carousel .carousel-item .img-fluid, body .wrapper .page-content .carousel .carousel-item .img-fluid {
  max-width: 200%;
}
@media screen and (min-width: 2160px) {
  html .wrapper .page-content .carousel .img-fluid, body .wrapper .page-content .carousel .img-fluid {
    margin: 0 auto;
    min-width: 0% !important;
    max-width: 2160px;
    max-height: calc(100vh - 100px);
  }
}
@media screen and (min-width: 1921px) {
  html .wrapper .page-content .carousel .img-fluid, body .wrapper .page-content .carousel .img-fluid {
    margin: 0 auto;
    min-width: 100%;
    max-height: calc(100vh - 100px);
  }
}
@media screen and (min-width: 992px) {
  html .wrapper .page-content .carousel .img-fluid, body .wrapper .page-content .carousel .img-fluid {
    min-width: 100%;
    max-height: calc(100vh - 100px);
  }
}
@media (min-width: 279px) and (max-width: 991px) {
  html .wrapper .page-content .carousel .img-fluid, body .wrapper .page-content .carousel .img-fluid {
    min-width: 100%;
    max-height: calc(100vh - 50px);
  }
}
html .wrapper .page-footer, body .wrapper .page-footer {
  height: 50px;
  background: rgb(0, 0, 0);
  color: whitesmoke;
}/*# sourceMappingURL=main.css.map */