@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  .wrapper {
    display: flex;
    flex-direction: column;
    .bg-dark {
      background: rgb(0, 0, 0, 0)!important;
    }
    .page-header {
      position: absolute;
      width: 100%;
      z-index: 100;
      .collapsing, .collapse, .show {
        align-items: center;
        .navbar-nav {
          justify-content: center;
          .nav-item {
            list-style: none;
            display: inline-block;
            margin: 10px 10px;
            cursor: pointer;
            .nav-link {
              text-decoration: none;
              text-transform: uppercase;
              color: whitesmoke;
              opacity: 1;
            }
          }
        }
      }
    }
    // @media screen and (max-width: 550px) {
    //   .page-header {
    //     vertical-align: middle;
    //     position: absolute;
    //     z-index: 100;
    //     .collapse {
    //       ul {
    //         li {
    //           list-style: none;
    //           margin: 8px 10px;
    //           cursor: pointer;
    //           a {
    //             text-decoration: none;
    //             text-transform: uppercase;
    //             color: whitesmoke;
    //           }
    //         }
    //       }
    //     }
    //   }
    // }
    // @media screen and (max-width: 550px) {
    //   .page-content {
    //     height: calc(100% - 40px);
    //   }
    // }
    .page-content {
      height: calc(100% - 70px);
      width: 100%;
      font-family: 'Open Sans', sans-serif;
      background: #444;
      .carousel {
        background:#444;
        text-align: center;
        .carousel-item .img-fluid {
          max-width: none;
          height: 100%;
          object-fit: cover;	
        }
      }
    }
    .page-footer {
      height: 40px;
      display: flex;
      flex-direction: column-reverse;
      background: rgb(0, 0, 0);
      color: whitesmoke;
    }
  }
}

