@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media only screen and (pointer: coarse) and (min-width: 279px) and (max-width: 769px) and (orientation: landscape) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
}
html, body {
  margin: 0;
  padding: 0;
  .wrapper {
    height: 100vh;
    @media screen and (max-width: 992px) {
      .bg-dark {
        background: rgb(0, 0, 0, 0)!important;
      }
      .page-header {
        box-shadow: none !important;
        top: 10px;
        left: 20px;
        width: 100px !important;
      }
    }
    @media screen and (min-width: 992px) {
      .bg-dark {
        background: rgb(0, 0, 0)!important;
      }
    }
    .page-header {
      position: absolute;
      height: 50px;
      padding: 0;
      width: 100%;
      z-index: 100;
      box-shadow: 5px 10px 5px rgb(49, 49, 49, 0.6);
      .navbar-toggler:hover {
        box-shadow: 5px 5px 5px rgb(49, 49, 49, 0.6);
      }
      .navbar-toggler:focus {
        outline: none !important;
        box-shadow: 5px 5px 5px rgb(49, 49, 49, 0.6);
      }
      .collapsing, .collapse, .show {
        align-items: center;
        .navbar-nav {
          justify-content: center;
          margin: 0 auto;
          .nav-item {
            list-style: none;
            display: inline-block;
            cursor: pointer;
            .nav-link {
              text-decoration: none;
              text-transform: uppercase;
              color: whitesmoke;
            }
            @media screen and (max-width: 992px) {
              .dropdown-menu {
                position: absolute;
                top: -10px;
                left: 100px;
                width: 300px;
                background: rgb(0, 0, 0, 0)!important;
              }
            }
            .dropdown-menu {
              background: rgb(0, 0, 0);
              border: 1px solid rgba(150, 150, 150, 0.15);
              box-shadow: 5px 5px 5px rgb(49, 49, 49, 0.6);
              .dropdown-item {
                text-transform: uppercase;
                color: whitesmoke;
              }
            }
          }
        }
      }
    }
    @media screen and (min-width: 992px) {
      .page-content {
        padding-top: 50px;
      }
    }
    .page-content {
      width: 100%;
      font-family: 'Open Sans', sans-serif;
      background: #444;
      .carousel {
        background:#444;
        text-align: center;
        .carousel-item .img-fluid {
          max-width: 200%;
        }
        @media screen and (min-width: 2160px) {
          .img-fluid {
            margin: 0 auto;
            min-width: 0% !important;
            max-width: 2100px !important;
            max-height: calc(100vh - 100px);
          }
        }
        @media screen and (min-width: 1921px) {
          .img-fluid {
            margin: 0 auto;
            min-width: 0% !important;
            max-width: 1920px !important;
            max-height: calc(100vh - 100px);
          }
        }
        @media screen and (min-width: 992px) {
          .img-fluid {
            min-width: 100%;
            max-height: calc(100vh - 100px);
          }
        }
        @media (min-width: 279px) and (max-width: 991px) {
          .img-fluid {
            min-width: 100%;
            max-height: calc(100vh - 50px);
          }
        }
      }
    }
    .page-footer {
      height: 50px;
      background: rgb(0, 0, 0);
      color: whitesmoke;
    }
  }
}

