@font-face {
font-family: 'Rubik Mono One';
src: url('./fonts/rubik_mono_one.woff') format('woff'), url('./fonts/rubik_mono_one.ttf') format('ttf');
font-weight: 400;
font-style: normal;
font-display: swap;
}