.error_page {
  margin: 0 auto;
  width: 500px;
  h1 {
    width: 150px;
    margin: 20% auto 10%;
    color: #000000;
    font-size: 47px;
    font-weight: 700;
    line-height: 50px;
  }
  .error_content {
    display: flex;
    flex-direction: column;
    :first-child {
      width: 500px;
      margin: 0 auto;
      text-align: center;
      vertical-align: middle;
    }
    :nth-child(2) {
      width: 80px;
      margin: 0 auto;
      padding: 30px 0;
      color: rgb(255, 3, 3);
      text-shadow: rgb(3, 3, 3) 1px 1px 2px;
    }
    :last-child {
      width: 200px;
      margin: 40px auto;
      background-color: rgb(79, 148, 1);
      color: white;
      text-transform: uppercase;
    }
  }
}