.productsContainer {
  padding: 5%;
  grid-column: span 2;
  background: white;
  .productsHeader {
    box-sizing: border-box;
    .productsTitle {
      float: left;
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 25px;
      color: #000000;
      opacity: 0.7;
    }
    .productsDots {
      float: right;
      margin: 10px;
    }
  }
  .productsContent {
    .card_1 {
      position: relative;
      &:after {
        position: absolute;
        content: '';
        top: 120px;
        left: 0;
        width: 100%;
        height: 1px;
        opacity: 0.05;
        background: #030229;
      }
    }
    .product_card {
      margin: 45px 0 0;
      .card_img {
        display: inline-block;
        vertical-align: middle;
        img {
          width: 96px;
          height: 96px;
        }
      }
      .card_content {
        margin-left: 5%;
        display: inline-block;
        vertical-align: middle;
        .card_title {
          margin-bottom: 10px;
          font-style: normal;
          font-weight: 400;
          font-size: 15px;
          line-height: 20px;
          color: #000000;
        }
        .card_price {
          margin-top: 10px;
          font-style: normal;
          font-weight: 700;
          font-size: 15px;
          line-height: 20px;
          color: #000000;
        }
      }
    }
  }
}