h1,
p {
  font-family: Lato;
}
.books {
  display: grid;
  gap: 4px;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);
}
.books_card {
  text-align: center;
  .books_img {
    img {
      width: 120px;
    }
  }
}
.pagination-bar {
  width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
