@font-face {
  font-family: 'HeydingsControlsRegular';
  src: url('fonts/heydings_controls-webfont.eot');
  src: url('fonts/heydings_controls-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/heydings_controls-webfont.woff') format('woff'),
       url('fonts/heydings_controls-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
html, body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  .wrapper {
    height: 100%;
    width: 100%;
    min-width: 1100px;
    // max-width: 1700px;
    margin: 0 auto 0 0;
      .video_bg {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;
        z-index: 1;  
        background: url('image/background_content.jpg') no-repeat;
        background-size: cover;
        video {
          position: absolute;
          top: 0;
          left: 0;
          min-width: 100%;
          min-height: 100%;
          height: auto;
          width: auto;
        }
        @supports (object-fit: cover) {
          video {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
      .video_bg:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(270deg, rgba(0, 0, 0, 0.0001) 64.38%, #000000 176.38%);
        mix-blend-mode: normal;
        opacity: 0.7;
        z-index: 1;
      }
      .video_bg:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(180deg, #000000 -23%, rgba(0, 0, 0, 0.0001) 100%, #000000 100%);
        mix-blend-mode: normal;
        opacity: 0.9;
        z-index: 2;
      }
      .content {
        width: 100%;
        height: 100%;
        // max-width: 1700px;
        position: fixed;
        top: 0;
        z-index: 4;
      }
      .header:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 300%;
        height: 1px;
        background: rgba(100, 95, 95, 1);
      }
        .header {
          position: relative;
          height: 80px;
          width: 100%;
          z-index: 4;
          ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
          }
          .navbar {
            height: 80px;
            div {
              img {
                margin: 0 0 0 auto;
                float: left;
                cursor: pointer;
                padding-top: 30px;
                padding-left: 30px;
              }
            }
            li {
              float: left;
              margin-left: 5%;
              margin-top: 26px;
              a {
                position: relative;
                text-decoration: none;

                font-family: 'Bebas Neue';
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 24px;

                color:rgba(159, 159, 159, 1);
                &.active {
                  color:rgba(255, 255, 255, 1);
                  &:after {
                    position: absolute;
                    left: 0;
                    top: 50px;
                    content: ''; 
                    height: 4px; 
                    width: 100%;
                    background-color: rgba(134, 124, 122, 1);
                    transition: width 0s ease-in-out;
                  }
                }
              }
              a:hover {
                color:rgba(255, 255, 255, 1);
              }
              a:hover:after,
              a:focus:after {
                position: absolute;
                left: 0;
                top: 50px;
                content: ''; 
                height: 4px; 
                width: 100%;
                background-color: rgba(134, 124, 122, 1);
                transition: width 0s ease-in-out;
              }
            }
            .search {
              margin: 0 0 0 auto;
              float: right;
              height: 80px;
              border-left: 1px solid rgba(100, 95, 95, 1);
              margin-right: 127px;
              line-height: 80px;
              list-style-type: none;
              img {
                margin-left: 48px;
                display: inline-block;
                vertical-align: middle;
              }
              input[type="text"] {
                margin-left: 10px;
                width: 112px;
                display: inline-block;
                vertical-align: middle;
                border: 0px;
                padding: 0;
                background-color: rgba(255, 255, 255, 0.0);
                
                font-family: 'Bebas Neue';
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 18px;

                color: #ffffff;
                &:hover::-webkit-input-placeholder,
                &:focus::-webkit-input-placeholder{
                  color: transparent;
                }
                
                &:focus::-moz-placeholder {
                  color: transparent;
                }
                
                &:focus:-moz-placeholder {
                  color: transparent;
                }
                
                &:focus:-ms-input-placeholder {
                  color: transparent;
                }
              }
              input[type="text"]::-webkit-input-placeholder {
                color: #ffffff;
              } 
              input[type="text"]::-moz-placeholder {
                color: #ffffff;
              }
              
            }
          }
      }
      .left_sidebar {
        position: fixed;
        top: 0;
        height: 100%;
        display: inline-block;
        width: 79.5px;
        border-right: 1px solid rgba(100, 95, 95, 1);
        .scrollbar {
          position: fixed;
          bottom: 0;
          p {
            writing-mode: vertical-lr;
            margin: 0 0 0 auto;
            margin-bottom: 25.5px;
            font-family: 'Roboto',sans-serif;
            font-style: normal;
            font-weight: 300;
            font-size: 11px;
            line-height: 13px;

            color: #9F9F9F;
          }
          img {
            margin-left: 27px;
            margin-bottom: 35px;
          }
        }
      }
      .right_content {
        margin-top: 70px;
        width: 100%;
        display: inline-block;
        vertical-align: top;
        .central_block {
          padding-left: 80.5;
          z-index: 4;
          .dot_block {
            left: 122px;
            top: 187px;
            position: absolute;
            height: 167px;
            width: 239.56px;
            z-index: 1;
            opacity: 0.5;
            background-repeat: repeat;
            background-image: url('./image/dots.svg');
          }
          h1 {
            display: inline-block;
            width: 610px;
            padding-left: 64.5px;
            padding-bottom: 45px;
            margin: 0 0 0 auto;
            text-decoration: none;
            
            font-family: 'Bebas Neue';
            font-style: normal;
            font-weight: normal;
            font-size: 100px;
            line-height: 120px;
            text-shadow: 0px -3px 0px rgb(180,180,180);

            color: rgba(255, 255, 255, 0.89);
          }
          .review {
            float: right;
            position: relative;
            margin-right: 81px;
            margin-top: 43px;
            vertical-align: top;
            width: 174px;
            .title {
              display: block;
              margin: 0 0 0 auto;
              margin-bottom: 16px;
              font-family: 'Roboto',sans-serif;
              font-style: normal;
              font-weight: bold;
              font-size: 18px;
              line-height: 21px;

              color: #FFFFFF;
            }
            .rating {
              float: left;
              position: relative;
              width: 110px;
              height: 22px;
              background-image: url(./icon/star_1.svg);
              background-size: 22px auto;
              .rating:focus-within { 
                outline: solid 0em #e0e0e0;
                outline-offset: 0em;
              }
              .rating_star {
                font-size: inherit;
                margin: 0;
                position: absolute;
                top: 0;
                left: 0;
                width: 22px;
                height: 22px;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                background-size: 22px auto;
                background-repeat: repeat-x;
              }
              .rating_star:focus {
                outline: none;
              }
              .rating_star:hover, .rating_star:checked {
                background-image: url(./icon/star.svg);
              }
              .rating_star:hover ~ .rating_star {
                background-image: url(./icon/star_1.svg);
              }
              .rating_star:nth-of-type(1) {
                z-index: 5;
                width: 22px;
              }
              .rating_star:nth-of-type(2) {
                z-index: 4;
                width: 44px;
              }
              .rating_star:nth-of-type(3) {
                z-index: 3;
                width: 66px;
              }
              .rating_star:nth-of-type(4) {
                z-index: 2;
                width: 88px;
              }
              .rating_star:nth-of-type(5) {
                z-index: 1;
                width: 110px;
              }
            }
            .rating_result {
              float: right;
              margin-right: 10px;

              font-family: 'Roboto', sans-serif;
              font-style: normal;
              font-weight: normal;
              font-size: 18px;
              line-height: 20px;

              color: #FFFFFF;
            }
          }
          .video {
            clear: both;
            margin-left: 128px;
            margin-bottom: 60px;
              button {
                z-index: 5;
                cursor: pointer;
                vertical-align: middle;
                display: inline-block;
                width: 72px;
                height: 72px;
                border: 0;
                border-radius: 38px;
                background-color: #C33E51 ;
                // background-image: url('./icon/play.svg');
                // background: cover;
              }
              button:before {
                width: 61px;
                height: 49px;
                vertical-align: middle;
                display: inline-block;
                font-family: HeydingsControlsRegular;
                font-size: 34px;
                text-align: center;
                content: attr(data-icon);
                color: #FFFFFF;
              }
            a {
              text-decoration: none;
              margin-left: 36px;
              display: inline-block;
              vertical-align: middle;
              list-style-type: none;
              font-family: 'Roboto', sans-serif;
              font-style: normal;
              font-weight: normal;
              font-size: 22px;
              line-height: 26px;

              color: #FFFFFF;
            }
          }
          .bookmark {
            clear: both;
            margin-left: 128px;
            div {
              z-index: 5;
              cursor: pointer;
              vertical-align: middle;
              display: inline-block;
              width: 76px;
              height: 72px;
              background-image: url('./icon/bookmark.svg');
            }
            a {
              text-decoration: none;
              margin-left: 33px;
              display: inline-block;
              vertical-align: middle;
              list-style-type: none;

              font-family: 'Roboto', sans-serif;
              font-style: normal;
              font-weight: normal;
              font-size: 22px;
              line-height: 26px;

              color: #FFFFFF;
            }
          }
        }
      .bottom_block {
        position: absolute;
        bottom: 74px;
        right: 0;
        div {
          display: inline-block;
          margin-right: 49px;
          h3 {
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 21px;

            color: #FFFFFF;
          }
          p {
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 300;
            font-size: 24px;
            line-height: 28px;

            color: #FFFFFF;
          }
        }
      }
    }
  }
}