header {
  margin: 0;
  padding: 0;
  background-color: #252525;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column;
  flex-flow: column;
  min-width: 320px;
  position: relative;
  z-index: 10;
  height: 182px;
  .header_tier1 {
    background-color: #252525;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: start;
    justify-content: flex-start;
    width: 100%;
    .header_menu_container_tier1 {
      margin: 0 auto;
      max-width: 1920px;
      width: 100%;
      display: flex;
      -ms-flex-pack: space-between;
      justify-content: space-between;
      position: relative;
      text-align: center;
      vertical-align: center;
      .header_tier1_button_Link {
        padding: 7px 14px;
        color: white;
        background-color: transparent;
        text-decoration: none;
        text-transform: uppercase;
        border: 1px solid #252525;
      }
      :hover {
        background-color: #5c5c5cc5;
      }
      .active {
        background-color: #5c5c5cc5;
      }
    }
  }
  .header_tier2 {
    background: white;
    -ms-flex-flow: row;
    flex-flow: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding: 0 1em;
    z-index: 1;
    .header_menu_container_tier2 {
      position: relative;
      display: flex;
      -ms-flex-pack: space-between;
      justify-content: space-between;
      margin: 0 auto;
      max-width: 1920px;
      width: 100%;
      z-index: 0;
      .header_tier2_logo {
        height: 70px;
      }
      .header_tier2_button_language {
        display: inline-flex;
        align-items: center;
        box-sizing: border-box;
        .header_tier2_button_language_text {
          cursor: pointer;
          text-transform: uppercase;
        }
      }
    }
  }
  .header_tier3 {
    background-color: #252525;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-order: 3;
    order: 3;
    position: relative;
    .header_menu_container_tier3 {
      display: flex;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-pack: justify;
      justify-content: space-between;
      margin: 0 auto;
      max-width: 1800px;
      width: 100%;
      height: 75px;
      .header_tier3_button_Link {
        padding: 22px 30px;
        color: white;
        background-color: transparent;
        border: 1px solid #252525;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        vertical-align: middle;
      }
      .header_tier3_button_Link:first-child {
        width: 90px;
      }
      .header_tier3_button_Link:nth-child(2) {
        width: 130px;
      }
      .header_tier3_button_Link:nth-child(3) {
        width: 80px;
      }
      .header_tier3_button_Link:nth-child(4) {
        width: 75px;
      }
      .header_tier3_button_Link:last-child {
        width: 125px;
      }
      :hover {
        background-color: #5c5c5cc5;
      }
      .active {
        background-color: #5c5c5cc5;
      }
    }
  }
}
