.scene{
  height: 100%;
  background-image: linear-gradient(
    to bottom,
    rgba(20, 20, 20, 0.5),
    rgba(0, 0, 122, 0.637)
  ),url(../../../assets/background/cosmos.jpg);
  background-size: cover;
}