.page_categories {
  padding: 0;
}

.page_categories .page_categories_title {
  padding: 0;
  background: #F6F5FF;
  margin-bottom: 126px;
}

.page_categories .page_categories_title .shop_left_sidebar {
  padding-top: 96px;
  padding-bottom: 126px;
}

.page_categories .page_categories_title .shop_left_sidebar h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 36px;
  line-height: 42px;
  color: #101750;
}

.page_categories .page_categories_title .shop_left_sidebar span {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.page_categories .page_categories_title .shop_left_sidebar .customWord {
  color: #FB2E86;
}

.page_categories .content_categories .content_sort {
  margin-bottom: 100px;
}

.page_categories .content_categories .content_sort .title h3 {
  vertical-align: middle;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #151875;
}

.page_categories .content_categories .content_sort .title p {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #8A8FB9;
}

.page_categories .content_categories .content_sort .sort {
  margin-top: 12px;
}

.page_categories .content_categories .content_sort .sort ul {
  float: right;
}

.page_categories .content_categories .content_sort .sort ul li {
  margin-left: 27px;
  vertical-align: middle;
  display: inline-block;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #3F509E;
}

.page_categories .content_categories .content_sort .sort ul li select {
  margin-left: 8px;
  height: 28px;
  width: 96px;
  border-color: #E7E6EF;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #8A8FB9;
}

.page_categories .content_categories .content_sort .sort ul li select:focus {
  outline: 1px solid #E7E6EF;
}

.page_categories .content_categories .content_sort .sort ul li label {
  vertical-align: middle;
}

.page_categories .content_categories .content_sort .sort ul li label img {
  cursor: pointer;
  vertical-align: middle;
  margin: 0 5px 0;
}

.page_categories .content_categories .content_sort .sort ul li label input:first-child {
  text-align: center;
  height: 25px;
  vertical-align: middle;
  width: 55px !important;
  margin-left: 8px;
}

.page_categories .content_categories .content_sort .sort ul li label input {
  padding: 0 10px 0;
  height: 30px;
  -webkit-box-shadow: 0;
          box-shadow: 0;
  border: 1px solid #E7E6EF;
  vertical-align: middle;
  width: 162px;
  margin-left: 27px;
  font-family: 'Lato', sans-serif;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #8A8FB9;
}

.page_categories .content_categories .content_sort .sort ul li label input:focus {
  outline: 1px solid #E7E6EF;
}

.page_categories .content_categories .content {
  margin-bottom: 251px;
}

.page_categories .content_categories .content .filters {
  padding: 0;
}

.page_categories .content_categories .content .filters .filter {
  margin-bottom: 40px;
}

.page_categories .content_categories .content .filters .filter .title {
  margin-bottom: 11px;
}

.page_categories .content_categories .content .filters .filter .title span {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #151875;
}

.page_categories .content_categories .content .filters .filter .title span:after {
  position: absolute;
  top: 20px;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  background: #000000;
}

.page_categories .content_categories .content .filters .filter ul {
  padding: 0;
  margin: 0;
}

.page_categories .content_categories .content .filters .filter ul li {
  padding: 0;
  margin: 0;
  margin-bottom: 8px;
  list-style-type: none;
}

.page_categories .content_categories .content .filters .filter ul li .custom_checkbox {
  display: none;
}

.page_categories .content_categories .content .filters .filter ul li .custom_checkbox + label {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  text-align: center;
  position: relative;
  background: #E5E0FC;
}

.page_categories .content_categories .content .filters .filter ul li .custom_checkbox:checked + label {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  text-align: center;
  position: relative;
  background: #603EFF;
}

.page_categories .content_categories .content .filters .filter ul li .custom_checkbox + label span:before {
  content: '';
  position: absolute;
  top: 8px;
  left: 3px;
  width: 5px;
  height: 1.5px;
  border-radius: 100px;
  background: #603EFF;
  -webkit-transform: rotate(38deg);
  transform: rotate(38deg);
}

.page_categories .content_categories .content .filters .filter ul li .custom_checkbox + label span:after {
  content: '';
  position: absolute;
  top: 7px;
  left: 6px;
  width: 8px;
  height: 1.5px;
  border-radius: 100px;
  background: #603EFF;
  -webkit-transform: rotate(-48deg);
  transform: rotate(-48deg);
}

.page_categories .content_categories .content .filters .filter ul li .custom_checkbox:checked + label span {
  position: absolute;
  display: inline-block;
  background: #603EFF;
}

.page_categories .content_categories .content .filters .filter ul li .custom_checkbox:checked + label span:before {
  content: '';
  position: absolute;
  top: 8px;
  left: -5px;
  width: 5px;
  height: 1.5px;
  border-radius: 100px;
  background: #E5E0FC;
  -webkit-transform: rotate(38deg);
  transform: rotate(38deg);
}

.page_categories .content_categories .content .filters .filter ul li .custom_checkbox:checked + label span:after {
  content: '';
  position: absolute;
  top: 7px;
  left: -2px;
  width: 8px;
  height: 1.5px;
  border-radius: 100px;
  background: #E5E0FC;
  -webkit-transform: rotate(-48deg);
  transform: rotate(-48deg);
}

.page_categories .content_categories .content .filters .filter ul li .pink + label {
  background: #FFDBF1;
}

.page_categories .content_categories .content .filters .filter ul li .pink:checked + label {
  background: #FF3EB2;
}

.page_categories .content_categories .content .filters .filter ul li .pink + label span:before {
  background: #FF3EB2;
}

.page_categories .content_categories .content .filters .filter ul li .pink + label span:after {
  background: #FF3EB2;
}

.page_categories .content_categories .content .filters .filter ul li .pink:checked + label span {
  background: #FF3EB2;
}

.page_categories .content_categories .content .filters .filter ul li .pink:checked + label span:before {
  background: #FFDBF1;
}

.page_categories .content_categories .content .filters .filter ul li .pink:checked + label span:after {
  background: #FFDBF1;
}

.page_categories .content_categories .content .filters .filter ul li .gold + label {
  background: #FFF6DA;
}

.page_categories .content_categories .content .filters .filter ul li .gold:checked + label {
  background: #FFCC2E;
}

.page_categories .content_categories .content .filters .filter ul li .gold + label span:before {
  background: #FFCC2E;
}

.page_categories .content_categories .content .filters .filter ul li .gold + label span:after {
  background: #FFCC2E;
}

.page_categories .content_categories .content .filters .filter ul li .gold:checked + label span {
  background: #FFCC2E;
}

.page_categories .content_categories .content .filters .filter ul li .gold:checked + label span:before {
  background: #FFF6DA;
}

.page_categories .content_categories .content .filters .filter ul li .gold:checked + label span:after {
  background: #FFF6DA;
}

.page_categories .content_categories .content .filters .filter ul li p {
  padding: 0;
  margin: 0;
  margin-left: 9px;
  display: inline-block;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  vertical-align: middle;
  color: #7E81A2;
}

.page_categories .content_categories .content .filters .rating .title {
  margin-bottom: 11px;
}

.page_categories .content_categories .content .filters .rating .title span {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #151875;
}

.page_categories .content_categories .content .filters .rating .title span:after {
  position: absolute;
  top: 20px;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  background: #000000;
}

.page_categories .content_categories .content .filters .rating ul {
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
}

.page_categories .content_categories .content .filters .rating ul li {
  padding: 0;
  margin: 0;
  margin-bottom: 2px;
  list-style-type: none;
}

.page_categories .content_categories .content .filters .rating ul li .checkbox {
  display: inline-block;
}

.page_categories .content_categories .content .filters .rating ul li .rating {
  display: inline-block;
  margin-left: 9px;
}

.page_categories .content_categories .content .filters .rating ul li .rating span {
  font-size: 12px;
  color: #B2B2B2;
}

.page_categories .content_categories .content .filters .rating ul li .rating .checked {
  color: #FFC416;
}

.page_categories .content_categories .content .filters .rating ul li p {
  padding: 0;
  margin: 0;
  display: inline-block;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 12px;
  line-height: 30px;
  text-align: center;
  color: #000000;
}

.page_categories .content_categories .content .filters .price {
  margin-bottom: 40px;
}

.page_categories .content_categories .content .filters .price .title {
  margin-bottom: 11px;
}

.page_categories .content_categories .content .filters .price .title span {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #292C58;
}

.page_categories .content_categories .content .filters .price .title span:after {
  position: absolute;
  top: 20px;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  background: #000000;
}

.page_categories .content_categories .content .filters .price ul {
  padding: 0;
  margin: 0;
}

.page_categories .content_categories .content .filters .price ul li {
  padding: 0;
  margin: 0;
  margin-bottom: 4px;
  list-style-type: none;
}

.page_categories .content_categories .content .filters .price ul li p {
  padding: 0;
  margin: 0;
  margin-left: 9px;
  display: inline-block;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  vertical-align: middle;
  color: #989BB5;
}

.page_categories .content_categories .content .filters .price form {
  padding: 0 0 0 12px;
  width: 203px;
  background: #FFFFFF;
  border: 1px solid #BCBDDB;
  border-radius: 3px;
}

.page_categories .content_categories .content .filters .price form input {
  border: 0;
  outline: 0;
  width: 148px;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 30px;
  color: #989BB5;
}

.page_categories .content_categories .content .filters .price form input[type="text"]::-webkit-input-placeholder {
  color: rgba(21, 24, 117, 0.1);
}

.page_categories .content_categories .content .filters .price form a {
  float: right;
  margin-right: 15px;
  text-align: center;
  vertical-align: middle;
}

.page_categories .content_categories .content .filters .color {
  margin-bottom: 40px;
}

.page_categories .content_categories .content .filters .color .title {
  margin-bottom: 11px;
}

.page_categories .content_categories .content .filters .color .title span {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #292C58;
}

.page_categories .content_categories .content .filters .color .title span:after {
  position: absolute;
  top: 20px;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  background: #000000;
}

.page_categories .content_categories .content .filters .color ul {
  padding: 0;
  margin: 0;
}

.page_categories .content_categories .content .filters .color ul li {
  cursor: pointer;
  width: 80px;
  display: inline-block;
  padding: 0;
  margin: 0;
  margin-bottom: 8px;
  list-style-type: none;
}

.page_categories .content_categories .content .filters .color ul li img {
  padding: 0;
  margin: 0;
  margin-right: 9px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

.page_categories .content_categories .content .filters .color ul li p {
  padding: 0;
  margin: 0;
  display: inline-block;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  vertical-align: middle;
  color: #989BB5;
}

.page_categories .content_categories .content .cards {
  padding: 0;
}

.page_categories .content_categories .content .cards .card {
  height: 230px;
  padding: 0;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 20px 5px rgba(248, 246, 253, 0.75);
          box-shadow: 0px 0px 20px 5px rgba(248, 246, 253, 0.75);
  margin-bottom: 28px;
  padding: 17px;
  border: 0;
}

.page_categories .content_categories .content .cards .card .card_body {
  position: relative;
  margin-top: 30px;
  margin-left: 29px;
}

.page_categories .content_categories .content .cards .card .card_body .card_title {
  position: relative;
  margin-bottom: 11px;
}

.page_categories .content_categories .content .cards .card .card_body .card_title h5 {
  margin: 0;
  display: inline-block;
  vertical-align: middle;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #111C85;
}

.page_categories .content_categories .content .cards .card .card_body .color {
  position: absolute;
  top: 0;
  left: 190px;
  display: inline-block;
  vertical-align: middle;
}

.page_categories .content_categories .content .cards .card .card_body .color img {
  display: inline-block;
  width: 11px;
  height: 11px;
  margin: 0;
  margin-right: 2px;
}

.page_categories .content_categories .content .cards .card .card_body .card_price {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #111C85;
}

.page_categories .content_categories .content .cards .card .card_body .card_price del {
  margin-left: 9px;
  margin-right: 16px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #FF2AAA;
}

.page_categories .content_categories .content .cards .card .card_body .rating {
  display: inline-block;
}

.page_categories .content_categories .content .cards .card .card_body .rating span {
  font-size: 12px;
  color: #B2B2B2;
}

.page_categories .content_categories .content .cards .card .card_body .rating .checked {
  color: #FFC416;
}

.page_categories .content_categories .content .cards .card .card_body .card_text {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: #9295AA;
}

.page_categories .content_categories .content .cards .card .card_body .offer_actions .svg_background {
  position: relative;
  width: 31px;
  height: 31px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 9px;
  margin-right: 9px;
}

.page_categories .content_categories .content .cards .card .card_body .offer_actions .svg_background:hover {
  border-radius: 50%;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
}

.page_categories .content_categories .content .cards .card .card_body .offer_actions .svg_background svg {
  position: absolute;
  top: 7px;
  left: 6px;
  width: 17px;
  height: 17px;
  cursor: pointer;
  vertical-align: middle;
}

.page_categories .content_categories .logo_brand {
  margin-bottom: 143px;
}
/*# sourceMappingURL=categories.css.map */