.page_categories {                                   //Главный блок страницы
  padding: 0;
  .page_categories_title {                          //Баннер
    padding: 0;
    background: #F6F5FF;
    margin-bottom: 126px;
    .shop_left_sidebar {
      padding-top: 96px;
      padding-bottom: 126px;
      h2 {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 36px;
        line-height: 42px;

        color: #101750;
      }
      span {
        font-family: 'Lato', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;

        color: #000000;
      }
      .customWord {
        color: #FB2E86;
      }
    }
  }
  .content_categories {                             //Контенстная Часть             
    .content_sort {                                 //Контент сортировка
      margin-bottom: 100px;
      .title {
        h3 {
          vertical-align: middle;
          font-family: 'Josefin Sans', sans-serif;
          font-size: 22px;
          line-height: 26px;
          
          color: #151875;
        }
        p {
          font-family: 'Lato', sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 14px;

          color: #8A8FB9;
        }
      }
      .sort {
        margin-top: 12px;
        ul {
          float: right;
          li {
            margin-left: 27px;
            vertical-align: middle;
            display: inline-block;

            font-family: 'Lato', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;

            color: #3F509E;
            select {
              margin-left: 8px;
              height: 28px;
              width: 96px;
              border-color: #E7E6EF;

              font-family: 'Lato', sans-serif;
              font-style: normal;
              font-weight: normal;
              font-size: 12px;
              line-height: 18px;

              color: #8A8FB9;
            }
            select:focus {
              outline: 1px solid #E7E6EF;
            }
            label {
              vertical-align: middle;
              img {
                cursor: pointer;
                vertical-align: middle;
                margin: 0 5px 0;
              }
              input:first-child {
                text-align: center;
                height: 25px;
                vertical-align: middle;
                width: 55px !important;
                margin-left: 8px;
              }
              input {
                padding: 0 10px 0;
                height: 30px;
                box-shadow: 0;
                border: 1px solid #E7E6EF;
                vertical-align: middle;
                width: 162px;
                margin-left: 27px;

                font-family: 'Lato', sans-serif;
                font-family: 'Lato', sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 18px;
  
                color: #8A8FB9;
              }
              input:focus {
                outline: 1px solid #E7E6EF;
              }
            }
          }
        }
      }
    }
    .content {                                         //Контент содержание
      margin-bottom: 251px;
      .filters {                                       //Контент фильтр
        padding: 0;
        .filter {
          margin-bottom: 40px;
          .title {
            margin-bottom: 11px;
            span {
              position: relative;
              padding: 0;
              margin: 0;

              font-family: 'Josefin Sans', sans-serif;
              font-size: 20px;
              line-height: 30px;
              
              color: #151875;
            }
            span:after {
              position: absolute;
              top: 20px;
              left: 0;
              content: '';
              width: 100%;
              height: 1px;
              background: #000000;
            }
          }
          ul {
            padding: 0;
            margin: 0;
            li {
              padding: 0;
              margin: 0;
              margin-bottom: 8px;
              list-style-type: none;
              .custom_checkbox {
                display: none;
              }
              .custom_checkbox + label {
                position: relative;
                display: inline-block;
                width: 16px;
                height: 16px;
                vertical-align: middle;
                text-align: center;
                position: relative;
                background: #E5E0FC;
              }
              .custom_checkbox:checked + label {
                position: relative;
                display: inline-block;
                width: 16px;
                height: 16px;
                vertical-align: middle;
                text-align: center;
                position: relative;
                background: #603EFF;
              }
              .custom_checkbox + label span:before {
                content: '';
                position: absolute; 
                top: 8px;
                left: 3px;   
                width: 5px;
                height: 1.5px;
                border-radius: 100px;
                background: #603EFF;
                -webkit-transform: rotate(38deg);
                transform: rotate(38deg);    
              }
              .custom_checkbox + label span:after {
                content: '';
                position: absolute;
                top: 7px;
                left: 6px;
                width: 8px;
                height: 1.5px;
                border-radius: 100px;
                background: #603EFF;
                -webkit-transform: rotate(-48deg);
                transform: rotate(-48deg);       
              }
              .custom_checkbox:checked + label span {
                position: absolute;
                display: inline-block;
                background: #603EFF;
              }
              .custom_checkbox:checked + label span:before {
                content: '';
                position: absolute; 
                top: 8px;
                left: -5px;   
                width: 5px;
                height: 1.5px;
                border-radius: 100px;
                background: #E5E0FC;
                -webkit-transform: rotate(38deg);
                transform: rotate(38deg);    
              }
              .custom_checkbox:checked + label span:after {
                content: '';
                position: absolute;
                top: 7px;
                left: -2px;
                width: 8px;
                height: 1.5px;
                border-radius: 100px;
                background: #E5E0FC;
                -webkit-transform: rotate(-48deg);
                transform: rotate(-48deg);      
              }
              .pink + label {
                background: #FFDBF1;
              }
              .pink:checked + label {
                background: #FF3EB2;
              }
              .pink + label span:before {
                background: #FF3EB2;
              }
              .pink + label span:after {
                background: #FF3EB2;
              }
              .pink:checked + label span {
                background: #FF3EB2;
              }
              .pink:checked + label span:before {
                background: #FFDBF1;   
              }
              .pink:checked + label span:after {
                background: #FFDBF1;     
              }
              .gold + label {
                background: #FFF6DA;
              }
              .gold:checked + label {
                background: #FFCC2E;
              }
              .gold + label span:before {
                background: #FFCC2E;
              }
              .gold + label span:after {
                background: #FFCC2E;
              }
              .gold:checked + label span {
                background: #FFCC2E;
              }
              .gold:checked + label span:before {
                background: #FFF6DA;   
              }
              .gold:checked + label span:after {
                background: #FFF6DA;     
              }
              p {
                padding: 0;
                margin: 0;
                margin-left: 9px;
                display: inline-block;

                font-family: 'Lato', sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 30px;
                text-align: center;
                vertical-align: middle;

                color: #7E81A2;
              }
            }
          }
        }
        .rating {
          .title {
            margin-bottom: 11px;
            span {
              position: relative;
              padding: 0;
              margin: 0;

              font-family: 'Josefin Sans', sans-serif;
              font-size: 20px;
              line-height: 30px;
              
              color: #151875;
            }
            span:after {
              position: absolute;
              top: 20px;
              left: 0;
              content: '';
              width: 100%;
              height: 1px;
              background: #000000;
            }
          }
          ul {
            padding: 0;
            margin: 0;
            margin-bottom: 40px;
            li {
              padding: 0;
              margin: 0;
              margin-bottom: 2px;
              list-style-type: none;
              .checkbox {
                display: inline-block;
              }
              .rating {
                display: inline-block;
                margin-left: 9px;
                span {
                  font-size: 12px;
                  color: #B2B2B2;;
                }
                .checked {
                  color: #FFC416;
                }
              }
              p {
                padding: 0;
                margin: 0;
                display: inline-block;
                font-family: 'Josefin Sans', sans-serif;
                font-size: 12px;
                line-height: 30px;

                text-align: center;

                color: #000000;
              }
            }
          }
        }
        .price {
          margin-bottom: 40px;
          .title {
            margin-bottom: 11px;
            span {
              position: relative;
              padding: 0;
              margin: 0;

              font-family: 'Josefin Sans', sans-serif;
              font-size: 20px;
              line-height: 30px;
              
              color: #292C58;
            }
            span:after {
              position: absolute;
              top: 20px;
              left: 0;
              content: '';
              width: 100%;
              height: 1px;
              background: #000000;
            }
          }
          ul {
            padding: 0;
            margin: 0;
            li {
              padding: 0;
              margin: 0;
              margin-bottom: 4px;
              list-style-type: none;
              p {
                padding: 0;
                margin: 0;
                margin-left: 9px;
                display: inline-block;

                font-family: 'Lato', sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 30px;
                text-align: center;
                vertical-align: middle;

                color: #989BB5;
              }
            }
          }
          form {
            padding: 0 0 0 12px;
            width: 203px;
            background: #FFFFFF;
            border: 1px solid #BCBDDB;
            border-radius: 3px;
            input {
              border: 0;
              outline: 0;
              width: 148px;

              font-family: 'Lato', sans-serif;
              font-style: normal;
              font-weight: normal;
              font-size: 12px;
              line-height: 30px;
              
              color: #989BB5;
            }
            input[type="text"]::-webkit-input-placeholder {
              color: rgba(21, 24, 117, 0.1);;
             } 
            a {
              float: right;
              margin-right: 15px;
              text-align: center;
              vertical-align: middle;
            }
          }
        }
        .color {
          margin-bottom: 40px;
          .title {
            margin-bottom: 11px;
            span {
              position: relative;
              padding: 0;
              margin: 0;

              font-family: 'Josefin Sans', sans-serif;
              font-size: 20px;
              line-height: 30px;
              
              color: #292C58;
            }
            span:after {
              position: absolute;
              top: 20px;
              left: 0;
              content: '';
              width: 100%;
              height: 1px;
              background: #000000;
            }
          }
          ul {
            padding: 0;
            margin: 0;
            li {
              cursor: pointer;
              width: 80px;
              display: inline-block;
              padding: 0;
              margin: 0;
              margin-bottom: 8px;
              list-style-type: none;
              img {
                padding: 0;
                margin: 0;
                margin-right: 9px;
                display: inline-block;
                text-align: center;
                vertical-align: middle;
              }
              p {
                padding: 0;
                margin: 0;
                display: inline-block;

                font-family: 'Lato', sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 30px;
                text-align: center;
                vertical-align: middle;

                color: #989BB5;
              }
            }
          }
        }
      }
      .cards {                                          //Контент карточки
        padding: 0;                                     
        .card {
          height: 230px;
          padding: 0;
          background: #FFFFFF;
          box-shadow: 0px 0px 20px 5px rgba(248, 246, 253, 0.75);
          margin-bottom: 28px;
          padding: 17px;
          border: 0;
          .card_body {
            position: relative;
            margin-top: 30px;
            margin-left: 29px;
            .card_title {
              position: relative;
              margin-bottom: 11px;
              h5 {
                margin: 0;
                display: inline-block;
                vertical-align: middle;

                font-family: 'Josefin Sans', sans-serif;
                font-size: 18px;
                line-height: 21px;

                color: #111C85;
              }
            }
            .color {
              position: absolute;
              top: 0;
              left: 190px;
              display: inline-block;
              vertical-align: middle;
              img {
                display: inline-block;
                width: 11px;
                height: 11px;
                margin: 0;
                margin-right: 2px;
              }
            }
            .card_price {
              display: inline-block;
              margin: 0;
              padding: 0;
              margin-bottom: 10px;

              font-family: 'Josefin Sans', sans-serif;
              font-size: 14px;
              line-height: 16px;

              color: #111C85;
              del {
                margin-left: 9px;
                margin-right: 16px;

                font-family: 'Josefin Sans', sans-serif;
                font-size: 14px;
                line-height: 16px;

                color: #FF2AAA;
              }
            }
            .rating {
              display: inline-block;
              span {
                font-size: 12px;
                color: #B2B2B2;;
              }
              .checked {
                color: #FFC416;
              }
            }
            .card_text {
              margin: 0;
              padding: 0;
              margin-bottom: 10px;

              font-family: 'Lato', sans-serif;
              font-style: normal;
              font-weight: normal;
              font-size: 16px;
              line-height: 28px;

              color: #9295AA;
            }
            .offer_actions {
              .svg_background {
                position: relative;
                width: 31px;
                height: 31px;
                display: inline-block;
                vertical-align: middle;
                margin-left: 9px;
                margin-right: 9px;
                &:hover {                     
                  border-radius: 50%;
                  background: #FFFFFF;
                  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
                }
                svg {
                  position: absolute;
                  top: 7px;
                  left: 6px;
                  width: 17px;
                  height: 17px;
                  cursor: pointer;
                  vertical-align: middle;
                }
              }
            }
          }
        }
      }
    }
    .logo_brand {
      margin-bottom: 143px;
    }
  }
}