@media (min-width: 1164px){
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1164px;
    padding: 0;
  }
}
html, body {
  max-width: 100%;
  min-width: 1164px;
  .wrapper {
    .header {                                 //Шапка
      overflow: hidden;
      .top_header {
        height: 44px;
        color: #F1F1F1;
        background: #7E33E0;
        &:after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          height: 44px;
          width: 100%;
          background-color:  #7E33E0;
          z-index: -1;
        }
        .contacts {
          a {
            text-decoration: none;
            line-height: 44px;
            padding-right: 48px;
            
            font-family: 'Josefin Sans', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;

            color: #F1F1F1;
            img {
              margin-right: 10px;
            }
          }
        }
        .account_menu {
          ul {
            float: right;
            li {
              list-style-type: none;
              display: inline-block;
              padding-left: 19px;
              a {
                text-decoration: none;
                line-height: 44px;

                font-family: 'Josefin Sans', sans-serif;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;

                color: #F1F1F1;
                img {
                  margin-left: 4px;
                  margin-bottom: 5px;
                }
              }
            }
            li:last-child {
              padding-left: 30px !important;
            }
          }
        }
      }
      .nav_header {
        height: 78px;
        .nav_logo {
          padding: 0;
          a {
            vertical-align: middle;
            text-decoration: none;

            font-family: 'Josefin Sans', sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 34px;
            line-height: 78px;

            color: #0D0E43;
          }
        }
        .nav_menu {
          padding: 0;
          ul {
            padding-left: 77px;
            vertical-align: middle;
            margin: 0 0 0 auto;
            display: inline-block;
            li {
              margin: 0 0 0 auto;
              list-style-type: none;
              display: inline-block;
              margin-right: 35px;
              a {
                position: relative;
                text-decoration: none;
                line-height: 78px;
                
                font-family: 'Lato', sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;

                color: #0D0E43;
                &:hover {
                  color: #FB2E86;
                  &::before{
                    content: '';
                    position: absolute;
                    top: 4px;
                    right: -14px;
                    height: 12px;
                    width: 12px;
                    background-image: url(./icon/arrow_down_pink.svg);
                    background-repeat: no-repeat;
                    background-position: right, center;
                  }
                }
              }
            }
          }
          form {
            line-height: 78px;
            float: right;
            width: 317px;
            display: block;
            margin: 0 auto;
            input {
              border: 0;
              outline: 0;
              margin: 0 auto;
              width: 266px;
              height: 40px;
              padding: 0 20px;
              border: 2px solid #E7E6EF;
              border-right: 0px;

              font-family: 'Lato', sans-serif;
              font-style: normal;
              font-weight: normal;
              font-size: 1rem;
              &:focus{
                border: 2px solid #0D0E43;
                outline: 0;
                border-right: 0px;
                transition: 0.35s ease;

                font-family: 'Lato', sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;

                color: #0D0E43;
                &::-webkit-input-placeholder{
                  transition: opacity 0.45s ease; 
                  opacity: 0;
                 }
                &::-moz-placeholder {
                  transition: opacity 0.45s ease; 
                  opacity: 0;
                 }
                &:-ms-placeholder {
                 transition: opacity 0.45s ease; 
                 opacity: 0;
                 }    
               }
             }
            a {
              text-align: center;
              position: relative;
              float: right;
              width: 51px;
              height: 40px;
              top: 19px;
              right: 0px;

              background: #FB2E86;
              .search-icon{
                position: absolute;
                width: 20px;
                height: 20px;
                top: 10px;
                right: 15px;
              }
            }
          }
        }
      }
    }
    .main_content {                           //Главный контейнер
      padding: 0;
      .slider {                               //Верхний баннер                        
        background-color: #F2F0FF;
        overflow: hidden;
        .inner {
          position: relative;
          width: 1164px;
          margin: 0 auto;
          .item {
            position: relative;
            padding-top: 203px;
            padding-bottom: 236px;
            .lamp {
              position: absolute;
              top: 0;
              left: -305px;
            }
            .sofa {
              position: absolute;
              top: 39px;
              right: -202px;
            }
            .span_title {
              z-index: 2;
              font-family: 'Lato', sans-serif;
              font-style: normal;
              font-weight: bold;
              font-size: 16px;
  
              color: #FB2E86;
            }
            h2 {
              width: 644px;
              margin-top: 12px;
              margin-bottom: 12px;
  
              font-family: 'Josefin Sans', sans-serif;
              font-size: 53px;
              line-height: 70px;
              letter-spacing: 0.015em;
  
              color: #000000;
            }
            .card_text {
              width: 559px;
              padding: 0px;
              margin-bottom: 27px;
  
              font-family: 'Lato', sans-serif;
              font-style: normal;
              font-weight: bold;
              font-size: 16px;
              line-height: 28px;
  
              color: #8A8FB9;
            }
            .add_button {
              cursor: pointer;
              width: 163px;
              height: 50px;
              vertical-align: middle;
              text-align: center;
              background: #FB2E86;
              border-radius: 2px;
              span {
                font-family: 'Josefin Sans', sans-serif;
                font-size: 17px;
                line-height: 50px;
                letter-spacing: 0.02em;

                color: #FFFFFF;
              }
            }
          }
        }
        .slider_control {
          position: absolute;
          text-align: center;
          top: 697px;
          left: 552px;
          div {
            display: inline-block;
            margin-left: 12px;
            width: 10px;
            height: 10px;
            background: url(./icon/rhombus_empty_slider.svg) no-repeat;
            background-size: cover;
          }
        }
      }
      .upper {                                //Верхний контейнер
        margin-top: 129px;
        margin-bottom: 135px;                        
        .upper_top {                          //Верхний контейнер верх
          margin-bottom: 69px;
          .title {
            margin-bottom: 48px;

            font-family: 'Josefin Sans', sans-serif;
            font-size: 42px;
            line-height: 49px;

            color: #1A0B5B;
          }
          .featured_col {
            padding-left: 15px;
            padding-right: 15px;
            &:hover{
              .featured_card {
                .active {
                  opacity: 1;
                }
                .card_content {
                  background: #2F1AC4;
                  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
                  h5 {
                    color: #FFFFFF;
                  }
                  p {
                    color: #FFFFFF;
                  }
                }
              }
            }
            .featured_card {
              position: relative;
              background: #FFFFFF;
              box-shadow: 0px 8px 40px rgba(49, 32, 138, 0.05);
              text-align: center;
              border: 0;
              .card-img-top {
                padding: 40px 40px 20px 40px;
                width: 100%;
                height: 236px;
                background: #F6F7FB;
              }
              .active {
                width: 150px;
                opacity: 0;
                position: absolute;
                .offer_actions {
                  position: absolute;
                  top: 20px;
                  left: 10px;
                  .svg_background {
                    display: inline-block;
                    vertical-align: middle;
                    margin-left: 8px;
                    margin-right: 8px;
                    svg {
                      width: 17px;
                      height: 17px;
                      cursor: pointer;
                      vertical-align: middle;
                    }
                    &:hover {                     
                      transition: 0.5s;
                      padding-left: 0;
                      width: 30px;
                      height: 30px;
                      border-radius: 50%;
                      background:  #EEEFFB;
                    }
                  }
                }
                .details_button {
                  opacity: 0;
                  cursor: pointer;
                  opacity: 1;
                  width: 94px;
                  height: 29px;
                  position: absolute;
                  left: 95px;
                  top: 200px;

                  background: #08D15F;
                  border-radius: 2px;
                  span {
                    font-family: 'Josefin Sans', sans-serif;
                    font-style: normal;
                    font-weight: 1;
                    font-size: 12px;
                    line-height: 12px;
                    
                    color: #FFFFFF;
                  }
                }
              }
              .card_content {
                padding: 0;
                h5 {
                  margin: 0;
                  margin-top: 15px;

                  font-family: 'Lato', sans-serif;
                  font-style: normal;
                  font-weight: bold;
                  font-size: 18px;
                  line-height: 22px;
                  
                  color: #FB2E86;
                }
                .card_slider {
                  margin-bottom: 10px;
                  div {
                    display: inline-block;
                    width: 14px;
                    height: 4px;
                  }
                  .button_slider_green {
                    background: #05E6B7;
                    border-radius: 10px;
                  }
                  .button_slider_red {
                    background: #F701A8;
                    border-radius: 10px;
                  }
                  .button_slider_blue {
                    background: #00009D;
                    border-radius: 10px;
                  }
                }
                .card_text {
                  margin-bottom: 12px;

                  font-family: 'Josefin Sans', sans-serif;
                  font-size: 14px;
                  line-height: 16px;
                  
                  color: #151875;
                }
                .card_price {
                  margin-bottom: 17px;

                  font-family: 'Lato', sans-serif;
                  font-style: normal;
                  font-weight: normal;
                  font-size: 14px;
                  line-height: 17px;

                  color: #151875;
                }
              }
            }
          }
          .slider_control {
            margin-top: 53px;
            text-align: center;
            div {
              cursor: pointer;
              display: inline-block;
              margin-left: 6px;
              width: 16px;
              height: 4px;
              background: url(./icon/sliderNoactive.jpg) no-repeat;
              background-size: cover;
            }
          }
        }
        .upper_center {                       //Верхний контейнер центер
          margin-bottom: 58px;
          .title {
            margin-bottom: 19px;

            font-family: 'Josefin Sans', sans-serif;
            font-size: 42px;
            line-height: 49px;

            color: #151875;
          }
          .leatest_menu {
            text-align: center;
            a {
              display: inline-block;
              position: relative;
              margin-left: 15px;
              margin-right: 15px;

              font-family: 'Lato', sans-serif;
              text-decoration: none;
              font-style: normal;
              font-weight: normal;
              font-size: 18px;
              line-height: 22px;

              color: #151875;
              &:hover {
                color: #FB2E86;
                &:after {
                  position: absolute;
                  left: 0;
                  top: 22px;
                  content: ''; 
                  height: 1px; 
                  width: 100%;
                  background-color: #FB2E86;
                  transition: width 0s ease-in-out;
                }
              }
            }
          }
          .top {
            margin-top: 62px;
            margin-bottom: 120px!important; 
          }
          .leatest_col{
            padding-left: 18px;
            padding-right: 18px;
            margin-bottom: 58px;
            &:hover{
              .leatest_card {
                img {
                  background: #FFFFFF;
                }
                .active {
                  opacity: 1;
                }
              }
            }
            .leatest_card {
              border: 0;
              img {
                padding: 30px 25px 7px 25px;
                width: 100%;
                height: 270px;
                background: #F6F7FB;
              }
              .card_content {
                padding: 13px 15px 4px 0px;
                h5 {
                  margin: 0;
                }
                .card_text {
                  margin: 0;
                  float: left;

                  font-family: 'Josefin Sans', sans-serif;
                  font-size: 16px;
                  line-height: 19px;

                  color: #151875;
                }
                .card_price {
                  margin: 0;
                  float: right;

                  font-family: 'Josefin Sans', sans-serif;
                  font-size: 14px;
                  line-height: 16px;

                  color: #151875;
                  span {
                    font-family: 'Josefin Sans', sans-serif;
                    font-size: 12px;
                    line-height: 14px;
                    text-decoration-line: line-through;

                    color: #FB2448;
                  }
                }
              }
              .active {
                width: 360px;
                opacity: 0;
                position: relative;
                .offer_actions {
                  position: absolute;
                  top: 140px;
                  left: 20px;
                  .svg_background {
                    width: 30px;
                    height: 30px;
                    position: relative;
                    vertical-align: middle;
                    margin-bottom: 8px;
                    margin-top: 8px;
                    &:hover {                     
                      border-radius: 50%;
                      background: #EEEFFB;
                      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.05);
                    }
                    svg {
                      position: absolute;
                      top: 7px;
                      left: 6px;
                      width: 17px;
                      height: 17px;
                      cursor: pointer;
                      vertical-align: middle;
                    }
                  }
                }
                img {
                  padding: 0;
                  opacity: 0;
                  cursor: pointer;
                  opacity: 1;
                  position: absolute;
                  left: 0px;
                  top: 0px;
                  width: 85px;
                  height: 57px;
                  z-index: 0;
                }
              }
            }
          }
        }
        .upper_bottom {                       //Верхний контейнер нижний
          .title {
            margin-bottom: 55px;

            font-family: 'Josefin Sans', sans-serif;
            font-size: 42px;
            line-height: 49px;

            color: #151875;
          }
          .offer_col {
            padding-left: 15px;
            padding-right: 15px;
            .offer_card {
              background: #FFFFFF;
              box-shadow: 0px 8px 40px rgba(49, 32, 138, 0.05);
              text-align: center;
              border: 0;
              img { 
                margin: 56px 102px 27px 102px;
                height: 65px;
                width: 65px;
              }
              .card_content {
                h5 {
                  margin-bottom: 20px;

                  font-family: 'Josefin Sans', sans-serif;
                  font-size: 22px;
                  line-height: 26px;

                  color: #151875;
                }
                p {
                  margin-left: 15px;

                  font-family: 'Lato', sans-serif;
                  font-style: normal;
                  font-weight: bold;
                  font-size: 16px;
                  line-height: 26px;

                  text-align: center;

                  color: rgba(26, 11, 91, 0.3);
                }
              }
            }
          }
        }
      }
      .center_banner {                        //Центральный баннер
        background-color: #F1F0FF;
        height: 579px;
        z-index: -1;
        .banner_content {
          position: relative;
          height: 100%;
          .productImg {
            position: absolute;
            left: 50px;
            bottom: 14px;
            width: 558px; 
            height: 550px;
            z-index: 1;
          }
          .card_content {
            padding: 0;
            margin-top: 97px;
            width: 507px;
            h5 {
              margin-bottom: 29px;

              font-family: 'Josefin Sans', sans-serif;
              font-size: 35px;
              line-height: 132%;

              letter-spacing: 0.015em;

              color: #151875;
            }
            .description {
              position: relative;
              img {
                position: absolute;
                text-align: center;
                top: 8px;
                width: 11px;
                height: 11px;
              }
              p {
                margin: 0;
              }
              .card_text:nth-last-child() {
                margin-bottom: 38px !important;
              }
              .card_text {
                width: 460px;
                display: inline-block;
                margin-bottom: 13px;
                margin-left: 23px;
  
                font-family: 'Lato', sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 132%;
  
                letter-spacing: 0.015em;
  
                color: #ACABC3;
              }
            }
            .add_cart {
              margin-top: 25px;
              .add_button {
                cursor: pointer;
                width: 200px;
                height: 57px;
                vertical-align: middle;
                text-align: center;
                background: #FB2E86;
                border-radius: 2px;
                span {
                  font-family: 'Josefin Sans', sans-serif;
                  font-size: 17px;
                  line-height: 57px;
                  letter-spacing: 0.02em;

                  color: #FFFFFF;
                }
              }
              .card_price {
                margin-top: 6px;
                margin-bottom: 3px;

                font-family: 'Josefin Sans', sans-serif;
                font-size: 14px;
                line-height: 16px;

                letter-spacing: 0.02em;

                color: #151875;
              }
              .card_price:last-child {
                margin: 0;

                font-family: 'Lato', sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 17px;

                color: #151875;
              }
            }
          }
        }
      }
      .middle {                               //Центральный контейнер
        margin-top: 132px;
        margin-bottom: 125px;
        .middle_top {                         //Центральный контейнер верх
          overflow: hidden;
          margin-bottom: 126px;
          .title {
            margin-bottom: 48px;

            font-family: 'Josefin Sans', sans-serif;
            font-size: 42px;
            line-height: 49px;

            color: #151875;
          }
          .trending_col {
            padding-left: 15px;
            padding-right: 15px;
            margin-bottom: 39px;
            .trending_card {
              width: 270px;
              background: #FFFFFF;
              box-shadow: 0px 8px 40px rgba(49, 32, 138, 0.05);
              text-align: center;
              border: 0;
              img {
                background: #F5F6F8;
                margin: 11px 11px 15px 11px;
                padding: 30px;
                width: 247px;
                height: 244px;
              }
              .card_content {
                padding: 0;
                h5 {
                  margin: 0;
                  margin-bottom: 8px;

                  font-family: 'Lato', sans-serif;
                  font-style: normal;
                  font-weight: bold;
                  font-size: 16px;
                  line-height: 26px;

                  color: #151875;
                }
                .card_text {
                  margin: 0;
                }
                .card_price {
                  margin: 0;
                  margin-bottom: 32px;

                  font-family: 'Josefin Sans', sans-serif;
                  font-style: normal;
                  font-weight: normal;
                  font-size: 14px;
                  line-height: 14px;

                  color: #151875;
                  span {
                    margin-left: 12px;

                    font-family: 'Josefin Sans', sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 12px;
                    text-decoration-line: line-through;

                    color: rgba(21, 24, 117, 0.3);
                  }
                }
              }
            }
          }
          .discounts_col {
            width: 450px;
            padding-left: 15px;
            padding-right: 15px;
            .discounts_card_1{
              position: relative;
              width: 100%;
              height: 270px;
              border: 0;
              background: #FFF6FB;
              box-shadow: 0px 8px 40px rgba(49, 32, 138, 0.05);
              img {
                position: absolute;
                bottom: 0;
                right: 0;
                width: 213px;
                height: 207px;
              }
            }
            .discounts_card_2 {
              position: relative;
              width: 100%;
              height: 270px;
              border: 0;
              background: #EEEFFB;
              box-shadow: 0px 8px 40px rgba(49, 32, 138, 0.05);
              img {
                position: absolute;
                bottom: 0;
                right: 0;
                width: 312px;
                height: 173px;
              }
            }
            .card_content {
              padding: 0;
              margin-top: 34px;
              margin-left: 25px;
              h5 {
                margin: 0;
                margin-bottom: 11px;

                font-family: 'Josefin Sans', sans-serif;
                font-style: normal;
                font-weight: 600;
                font-size: 26px;
                line-height: 26px;
  
                color: #151875;
              }
              p {
                margin: 0;

                font-family: 'Lato', sans-serif;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 19px;
                text-decoration-line: underline;
  
                color: #FB2E86;
              }
            }
          }
          .discounts_list {
            padding-right: 0px;
            width: 279px;
            height: 74px;
            .discounts_list {
              margin-bottom: 20px;
              border: 0;
              img {
                background: #F5F6F8;
                width: 107px;
                height: 74px;
              }
              .card_content {
                padding: 0;
                h5 {
                  margin: 21px 0 5px 9px;

                  font-family: 'Josefin Sans', sans-serif;
                  font-size: 16px;
                  line-height: 19px;

                  color: #151875;

                }
                p {
                  margin: 0;
                  margin-left: 9px;

                  font-family: 'Josefin Sans', sans-serif;
                  font-style: normal;
                  font-weight: normal;
                  font-size: 12px;
                  line-height: 12px;
                  text-decoration-line: line-through;

                  color: #151875;
                }
              }
            }
          }
        }
        .middle_center {                      //Центральный контейнер центр
          overflow: hidden;
          .title {
            margin-bottom: 33px;

            font-family: 'Josefin Sans', sans-serif;
            font-size: 42px;
            line-height: 49px;
            
            color: #151875;
          }
          .discounts_card {
            width: 100%;
            height: 597px;
            border: 0;
            .discount_menu {
              margin-top: 7px;
              text-align: center;
              a {
                display: inline-block;
                position: relative;
                margin-left: 15px;
                margin-right: 15px;
                z-index: 2;
  
                font-family: 'Lato', sans-serif;
                text-decoration: none;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 22px;
  
                color: #151875;
                &:hover {
                  color: #FB2E86;
                  &:after {
                    position: absolute;
                    left: 0;
                    top: 22px;
                    content: ''; 
                    height: 1px; 
                    width: 100%;
                    background-color: #FB2E86;
                    transition: width 0s ease-in-out;
                  }
                  &:before {
                    position: absolute;
                    right: -12px;
                    top: 11px;
                    content: '';
                    width: 5px;
                    height: 5px;
                    border: 1px solid #FB2E86;
                    border-radius: 50%;
                    background: #FB2E86;
                  }
                }
              }
            }
            .card_content {
              position: relative;
              padding: 0;
              h5 {
                margin: 0;
                margin-top: 111px;
                margin-bottom: 16px;

                font-family: 'Josefin Sans', sans-serif;
                font-size: 35px;
                line-height: 132%;
                
                letter-spacing: 0.015em;

                color: #151875;
              }
              span {
                font-family: 'Josefin Sans', sans-serif;
                font-size: 21px;
                line-height: 132%;

                letter-spacing: 0.015em;

                 color: #FB2E86;
              }
              p {
                margin: 0;
              }
              .card_text {
                margin-top: 20px;
                margin-bottom: 20px;
                width: 523px;

                font-family: 'Lato', sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 17px;
                line-height: 30px;

                letter-spacing: 0.02em;

                color: #B7BACB;
              }
              .card_text_col {
                div {
                  width: 564px;
                  font-family: 'Lato', sans-serif;
                  font-style: normal;
                  font-weight: normal;
                  font-size: 16px;
                  line-height: 30px;

                  letter-spacing: 0.02em;

                  color: #B8B8DC;
                  img {
                    display: inline-block;
                    width: 16px;
                    height: 16px;
                  }
                  p {
                    display: inline-block;
                  }
                }
              }
              .discount_button {
                cursor: pointer;
                margin-top: 37px;
                width: 200px;
                height: 57px;
                vertical-align: middle;
                text-align: center;
                background: #FB2E86;
                border-radius: 2px;
                span {
                  font-family: 'Josefin Sans', sans-serif;
                  font-size: 17px;
                  line-height: 57px;
                  letter-spacing: 0.02em;

                  color: #FFFFFF;
                }
              }
            }
            .productImg {
              position: absolute;
              right: -55px;
              top: 0;
              width: 699px;
              height: 597px;
            }
          }
        }
        .middle_bottom {                      //Центральный контейнер низ
          overflow: hidden;
          margin-bottom: 125px;
          .title {
            margin-bottom: 56px;

            font-family: 'Josefin Sans', sans-serif;
            font-size: 42px;
            line-height: 49px;

            color: #151875;
          }
          .topCategories_col {
            padding-left: 15px;
            padding-right: 15px;
            margin-bottom: 39px;
            .topCategories_card {
              cursor: pointer;
              position: relative;
              width: 270px;
              text-align: center;
              border: 0;
              &:hover {
                .active {
                  .details_button {
                    opacity: 1;
                  }
                }
              }
              .active {
                margin-bottom: 27px;
                position: relative;
                z-index: 0;
                width: 269px;
                height: 269px;
                &:after {
                  position: absolute;
                  left: 0;
                  top: 0;
                  content: '';
                  width: 100%;
                  height: 100%;
                  border-radius: 50%;
                  background: #F6F7FB;
                  z-index: 0;
                }
                &:hover {
                  &:before {
                    position: absolute;
                    left: 0;
                    top: 0;
                    content: '';
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    background: #9877E7;
                    transform: translate( -5px, 3%);
                    z-index: -1;
                  }
                }
                .details_button {
                  opacity: 0;
                  cursor: pointer;
                  width: 94px;
                  height: 29px;
                  position: absolute;
                  left: 90px;
                  top: 219px;
                  z-index: 1;

                  background: #08D15F;
                  border-radius: 2px;
                  span {
                    font-family: 'Josefin Sans', sans-serif;
                    font-style: normal;
                    font-weight: 1;
                    font-size: 12px;
                    line-height: 12px;
                    
                    color: #FFFFFF;
                  }
                }
                img {
                  position: relative;
                  margin-top: 46px;
                  width: 178px;
                  height: 178px;
                  z-index: 1;
                }
              }
              .card_content {
                padding: 0;
                h5 {
                  margin: 0;
                }
                p {
                  margin: 0;
                }
                .card_text {
                  margin-bottom: 13px;
                  span {
                    margin-left: 7px;

                    font-family: 'Josefin Sans', sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 20px;

                    color: #151875;
                  }
                }
                .card_price {
                  font-family: 'Josefin Sans', sans-serif;
                  font-style: normal;
                  font-weight: normal;
                  font-size: 16px;
                  line-height: 16px;

                  color: #151875;
                }
              }
            }
          }
          .slider_control {
            text-align: center;
            div {
              display: inline-block;
              margin-left: 12px;
              width: 10px;
              height: 10px;
              background: url(./icon/slider_circle_empty.svg) no-repeat;
              background-size: cover;
            }
          }
        }
      }
      .bottom_banner {                        //Нижний баннер
        margin-bottom: 96px;
        height: 462px;
        background: url(./image/bottom_banner.jpg) no-repeat;
        background-size: cover;
        background-position: top;
        text-align: center;
        .title {
          cursor: pointer;
          padding-top: 174px;
          margin-right: auto;
          margin-left: auto;
          width: 574px;

          font-family: 'Josefin Sans', sans-serif;
          font-size: 35px;
          line-height: 54,25px;

          text-align: center;
          letter-spacing: 0.015em;

          color: #151875;
        }
        .shop_button {
          cursor: pointer;
          margin-top: 28px;
          margin-right: auto;
          margin-left: auto;
          width: 200px;
          height: 57px;
          
          vertical-align: middle;
          text-align: center;

          background: #FB2E86;
          border-radius: 2px;
          span {
            font-family: 'Josefin Sans', sans-serif;
            font-size: 17px;
            line-height: 57px;
            letter-spacing: 0.02em;

            color: #FFFFFF;
          }
        }
      }
      .lower_content {                        //Нижний контейнер
        .logo_brand {
          margin-bottom: 96px;
        }
        .title {
          margin-bottom: 80px;

          font-family: 'Josefin Sans', sans-serif;
          font-size: 42px;
          line-height: 49px;

          color: #151875;
        }
        .leatest_blog_col{
          padding-right: 25px;
          margin-bottom: 58px;
          .leatest_blog_card {
            box-shadow: 0px 8px 40px rgba(49, 32, 138, 0.05);
            border-radius: 5px;
            cursor: pointer;
            width: 370px;
            border: 0;
            &:hover {
              .card_content {
                h5 {
                  color: #FB2E86;
                }
                .card_price {
                  color: #FB2E86;
                }
              }
            }
            img {
              width: 100%;
              height: 255px;
              background: #F6F7FB;
            }
            .span {
              margin-top: 19px;
              margin-left: 14px;
              img {
                width: 12px;
                height: 12px;
                margin-right: 8px;
              }
              span {
                margin-right: 25px;
                font-family: 'Josefin Sans', sans-serif;
                font-size: 14px;
                line-height: 16px;

                color: #151875;
              }
            }
            .card_content {
              padding: 31px 19px 35px 19px;
              h5 {
                margin: 0;
                margin-bottom: 17px;

                font-family: 'Josefin Sans', sans-serif;
                font-size: 18px;
                line-height: 18px;

                color: #151875;
              }
              .card_text {
                margin: 0;

                font-family: 'Lato', sans-serif;;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 30px;
                /* or 187% */


                color: #72718F;
              }
              .card_price {
                margin: 0;

                font-family: 'Lato', sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 30px;

                text-decoration-line: underline;

                color: #151875;
              }
            }
          }
        }
      }
    }
    .footer {                                 //Подвал
      background: #EEEFFB;
      padding: 0;
      .menu_footer {                          //Подвал верх
        height: 479px;
        .title {
          margin-top: 94px;
          margin-bottom: 45px;
          a {
            text-decoration: none;
            font-family: 'Josefin Sans', sans-serif;
            font-size: 38px;
            line-height: 45px;

            color: #000000;
          }
        }
        form {
          background: #FFFFFF;
          border-radius: 3px;
          margin-bottom: 25px;
          width: 377px;
          height: 44px;
          .search {
            padding-left: 20px;
            border:none;
            outline: none !important;
            background: transparent;
            vertical-align: middle;
            width: 236px;
            height: 44px;

            font-family: 'Lato', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;

            color: #8A8FB9;
          }
          .button {
            float: right;
            margin: 3px;
            text-align: center;
            width: 135px;
            height: 39px;
            background: #FB2E86;
            border-radius: 3px;
            border-color: #FB2E86;

            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;

            color: #EEEFFB;
          }
        }
        .text {
          margin-bottom: 10px;

          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 19px;

          color: #8A8FB9;
        }
        h6 {
          margin-top: 94px;
          margin-bottom: 42px;

          font-family: 'Josefin Sans', sans-serif;
          font-size: 22px;
          line-height: 26px;

          color: #000000;
        }
        li {
          cursor: pointer;
          margin-bottom: 21px;

          font-family: 'Lato', sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 19px;

          color: #8A8FB9;
        }
      }
      .bottom_footer {                                  //Подвал низ                             
        background: #E7E4F8;
        height: 53px;
        .contacts {
          p {
            cursor: pointer;
            margin-top: 17px;

            font-family: 'Lato', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;

            color: #9DA0AE;
          }
        }
        .account_menu {
          div {
            margin-right: 140px;
            img {
              margin-top: 17px;
              margin-right: 11px;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}