.procceed_cart {
  padding: 0;
}

.procceed_cart .procceed_cart_title {
  padding: 0;
  background: #F6F5FF;
  margin-bottom: 74px;
}

.procceed_cart .procceed_cart_title .cart_details {
  padding-top: 125px;
  padding-bottom: 124px;
}

.procceed_cart .procceed_cart_title .cart_details h2 {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 36px;
  line-height: 42px;
  color: #101750;
}

.procceed_cart .content_procceed_cart {
  margin-bottom: 326px;
}

.procceed_cart .content_procceed_cart .content {
  padding: 0;
}

.procceed_cart .content_procceed_cart .content .content_header h2 {
  margin-bottom: 16px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 24px;
  line-height: 28px;
  color: #1D3178;
}

.procceed_cart .content_procceed_cart .content .content_header p {
  margin: 0;
  margin-bottom: 25px;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #1D3178;
}

.procceed_cart .content_procceed_cart .content .left_col .user_data {
  padding: 69px 32px 65px 30px;
  background: #F8F8FD;
  border-radius: 3px;
}

.procceed_cart .content_procceed_cart .content .left_col .user_data .contact h5 {
  margin-bottom: 43px;
  float: left;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #1D3178;
}

.procceed_cart .content_procceed_cart .content .left_col .user_data .contact a {
  float: right;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.01em;
  color: #C1C8E1;
}

.procceed_cart .content_procceed_cart .content .left_col .user_data .contact .check {
  vertical-align: middle;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #8A91AB;
}

.procceed_cart .content_procceed_cart .content .left_col .user_data .contact .check svg {
  vertical-align: middle;
  margin-right: 5px;
}

.procceed_cart .content_procceed_cart .content .left_col .user_data .address {
  margin-top: 109px;
}

.procceed_cart .content_procceed_cart .content .left_col .user_data .address h5 {
  margin-bottom: 43px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #1D3178;
}

.procceed_cart .content_procceed_cart .content .left_col .user_data .continue_button {
  margin-top: 91px;
  cursor: pointer;
  text-align: center;
  width: 182px;
  height: 44px;
  background: #FB2E86;
  border-radius: 2px;
}

.procceed_cart .content_procceed_cart .content .left_col .user_data .continue_button a {
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  line-height: 44px;
  color: #FFFFFF;
}

.procceed_cart .content_procceed_cart .content form {
  clear: both;
  padding: 0;
  background: #F8F8FD;
}

.procceed_cart .content_procceed_cart .content form .short_input {
  width: 336px;
  margin-right: 23px;
}

.procceed_cart .content_procceed_cart .content form .Last {
  margin-right: 0;
}

.procceed_cart .content_procceed_cart .content form .long_input {
  width: 698px;
}

.procceed_cart .content_procceed_cart .content form input {
  position: relative;
  border: 0;
  padding: 0;
  border-bottom: 2px solid #BFC6E0;
  outline: 0;
  height: 35px;
  margin-bottom: 30px;
  background: #F8F8FD;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #C1C8E1;
}

.procceed_cart .content_procceed_cart .content form input[type="text"]::-webkit-input-placeholder {
  color: #C1C8E1;
}

.procceed_cart .content_procceed_cart .content .right_col .top_element {
  width: 356px;
  margin-left: 30px;
}

.procceed_cart .content_procceed_cart .content .right_col .top_element .cards {
  position: relative;
  margin-bottom: 29px;
  border: 0;
}

.procceed_cart .content_procceed_cart .content .right_col .top_element .cards:after {
  position: absolute;
  content: '';
  top: 102px;
  left: 0;
  width: 100%;
  height: 1px;
  background: #E1E1E4;
}

.procceed_cart .content_procceed_cart .content .right_col .top_element .cards .image {
  vertical-align: middle;
  display: inline-block;
  border-radius: 3px;
  width: 83px;
  height: 87px;
}

.procceed_cart .content_procceed_cart .content .right_col .top_element .cards .card_content {
  width: 216px;
  padding-left: 17px;
  vertical-align: middle;
  display: inline-block;
  padding: 0;
}

.procceed_cart .content_procceed_cart .content .right_col .top_element .cards .card_content h5 {
  margin-bottom: 6px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

.procceed_cart .content_procceed_cart .content .right_col .top_element .cards .card_content .card_text {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #A1A8C1;
}

.procceed_cart .content_procceed_cart .content .right_col .top_element .cards .card_content .card_text span {
  font-size: 14px;
  line-height: 16px;
}

.procceed_cart .content_procceed_cart .content .right_col .top_element .cards .price {
  vertical-align: middle;
  display: inline-block;
  text-align: end;
}

.procceed_cart .content_procceed_cart .content .right_col .top_element .cards .price p {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #15245E;
}

.procceed_cart .content_procceed_cart .content .right_col .top_element .cards:nth-last-child(1) {
  margin-bottom: 57px;
}

.procceed_cart .content_procceed_cart .content .right_col .bottom_element {
  margin-left: 30px;
}

.procceed_cart .content_procceed_cart .content .right_col .bottom_element .container-fluid {
  background: #F4F4FC;
  border-radius: 3px;
  padding: 30px 30px 32px 29px;
}

.procceed_cart .content_procceed_cart .content .right_col .bottom_element .container-fluid .text {
  position: relative;
  margin-bottom: 42px;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #1D3178;
}

.procceed_cart .content_procceed_cart .content .right_col .bottom_element .container-fluid .text span {
  float: right;
}

.procceed_cart .content_procceed_cart .content .right_col .bottom_element .container-fluid .text:after {
  position: absolute;
  content: '';
  top: 33px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #E8E6F1;
}

.procceed_cart .content_procceed_cart .content .right_col .bottom_element .container-fluid .check {
  vertical-align: middle;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #8A91AB;
}

.procceed_cart .content_procceed_cart .content .right_col .bottom_element .container-fluid .check svg {
  vertical-align: middle;
  margin-right: 5px;
}

.procceed_cart .content_procceed_cart .content .right_col .bottom_element .container-fluid .proceed_button {
  cursor: pointer;
  text-align: center;
  margin-top: 30px;
  width: 300px;
  height: 40px;
  background: #19D16F;
  border-radius: 3px;
}

.procceed_cart .content_procceed_cart .content .right_col .bottom_element .container-fluid .proceed_button a {
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 40px;
  color: #FFFFFF;
}
/*# sourceMappingURL=procceedCart.css.map */