.procceed_cart {
  padding: 0;
  .procceed_cart_title {
    padding: 0;
    background: #F6F5FF;
    margin-bottom: 74px;
    .cart_details {
      padding-top: 125px;
      padding-bottom: 124px;
      h2 {
        margin: 0;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 36px;
        line-height: 42px;

        color: #101750;
      }
    }
  }
  .content_procceed_cart {
    margin-bottom: 326px;
    .content {
      padding: 0;
      .content_header {
        h2 {
          margin-bottom: 16px;
          font-family: 'Josefin Sans', sans-serif;
          font-size: 24px;
          line-height: 28px;

          color: #1D3178;
        }
        p {
          margin: 0;
          margin-bottom: 25px;
          font-family: 'Lato', sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 14px;
  
          color: #1D3178;
        }
      }
      .left_col {
        .user_data {
          padding: 69px 32px 65px 30px;
          background: #F8F8FD;
          border-radius: 3px;
          .contact {
            h5 {
              margin-bottom: 43px;
              float: left;
              font-family: 'Josefin Sans', sans-serif;
              font-size: 18px;
              line-height: 21px;

              color: #1D3178;
            }
            a {
              float: right;
              text-decoration: none;
              font-family: 'Lato', sans-serif;
              font-style: normal;
              font-weight: 500;
              font-size: 14px;
              line-height: 17px;
              
              letter-spacing: 0.01em;

              color: #C1C8E1;
            }
            .check {
              vertical-align: middle;

              font-family: 'Lato', sans-serif;
              font-style: normal;
              font-weight: normal;
              font-size: 12px;
              line-height: 14px;

              color: #8A91AB;
              svg {
                vertical-align: middle;
                margin-right: 5px;
              }
            }
          }
          .address {
            margin-top: 109px;
            h5 {
              margin-bottom: 43px;
              font-family: 'Josefin Sans', sans-serif;
              font-size: 18px;
              line-height: 21px;

              color: #1D3178;
            }
          }
          .continue_button {
            margin-top: 91px;
            cursor: pointer;
            text-align: center;
            width: 182px;
            height: 44px;
            background: #FB2E86;
            border-radius: 2px;
            a {
              text-decoration: none;
              font-family: 'Josefin Sans', sans-serif;
              font-size: 16px;
              line-height: 44px;
              
              color: #FFFFFF;
            }
          }
        }
      }
      form {
        clear: both;
        padding: 0;
        background: #F8F8FD;
        .short_input {
          width: 336px;
          margin-right: 23px;
        }
        .Last {
          margin-right: 0;
        }
        .long_input{
          width: 698px;
        }
        input {
          position: relative;
          border: 0;
          padding: 0;
          border-bottom: 2px solid #BFC6E0;
          outline: 0;
          height: 35px;
          margin-bottom: 30px;
          background: #F8F8FD;

          font-family: 'Lato', sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 17px;

          color: #C1C8E1;
        }
        input[type="text"]::-webkit-input-placeholder {
          color: #C1C8E1;
        } 
      }
      .right_col {
        .top_element {
          width: 356px;
          margin-left: 30px;
          .cards {
            position: relative;
            margin-bottom: 29px;
            border: 0;
            &:after {
              position: absolute;
              content: '';
              top: 102px;
              left: 0;
              width: 100%;
              height: 1px;
              background: #E1E1E4;
            }
            .image {
              vertical-align: middle;
              display: inline-block;
              border-radius: 3px;
              width: 83px;
              height: 87px;
            }
            .card_content {
              width: 216px;
              padding-left: 17px;
              vertical-align: middle;
              display: inline-block;
              padding: 0;
              h5 {
                margin-bottom: 6px;
                font-family: 'Josefin Sans', sans-serif;
                font-size: 14px;
                line-height: 16px;

                color: #000000;
              }
              .card_text {
                margin: 0;
                padding: 0;
                font-family: 'Josefin Sans', sans-serif;
                font-size: 12px;
                line-height: 14px;

                color: #A1A8C1;
                span {
                  font-size: 14px;
                  line-height: 16px;
                }
              }
            }
            .price {
              vertical-align: middle;
              display: inline-block;
              text-align: end;
              p {
                margin: 0;
                padding: 0;
                font-family: 'Josefin Sans', sans-serif;
                font-size: 14px;
                line-height: 16px;

                color: #15245E;
              }
            }
          }
          .cards:nth-last-child(1) {
            margin-bottom: 57px;
          }
        }
        .bottom_element {
          margin-left: 30px;
          .container-fluid {
            background: #F4F4FC;
            border-radius: 3px;
            padding: 30px 30px 32px 29px;
            .text {
              position: relative;
              margin-bottom: 42px;
              font-family: 'Lato', sans-serif;
              font-style: normal;
              font-weight: 600;
              font-size: 18px;
              line-height: 22px;
              
              color: #1D3178;
              span {
                float: right;
              }
              &:after {
                position: absolute;
                content: '';
                top: 33px;
                left: 0;
                width: 100%;
                height: 2px;
                background: #E8E6F1;
              }
            }
            .check {
              vertical-align: middle;

              font-family: 'Lato', sans-serif;
              font-style: normal;
              font-weight: normal;
              font-size: 12px;
              line-height: 14px;

              color: #8A91AB;
              svg {
                vertical-align: middle;
                margin-right: 5px;
              }
            }
            .proceed_button {
              cursor: pointer;
              text-align: center;
              margin-top: 30px;
              width: 300px;
              height: 40px;
              background: #19D16F;
              border-radius: 3px;
              a {
                text-decoration: none;
                font-family: 'Lato', sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 40px;
                
                color: #FFFFFF;
              }
            }
          }
        }
      }
    }
  }
}