.shopping_cart {
  padding: 0;
}

.shopping_cart .shopping_cart_title {
  padding: 0;
  background: #F6F5FF;
  margin-bottom: 131px;
}

.shopping_cart .shopping_cart_title .cart_details {
  padding-top: 96px;
  padding-bottom: 126px;
}

.shopping_cart .shopping_cart_title .cart_details h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 36px;
  line-height: 42px;
  color: #101750;
}

.shopping_cart .shopping_cart_title .cart_details span {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.shopping_cart .shopping_cart_title .cart_details .customWord {
  color: #FB2E86;
}

.shopping_cart .content_shoppingCart {
  margin-bottom: 145px;
}

.shopping_cart .content_shoppingCart .content {
  padding: 0;
}

.shopping_cart .content_shoppingCart .content .left_col {
  padding-right: 30px;
}

.shopping_cart .content_shoppingCart .content .left_col .table thead tr th:first-child {
  width: 300px;
  text-align: start;
}

.shopping_cart .content_shoppingCart .content .left_col .table thead tr th {
  padding: 0;
  text-align: center;
  padding-bottom: 30px;
  border-bottom-width: 0;
}

.shopping_cart .content_shoppingCart .content .left_col .table thead tr th:nth-last-child(1),
.shopping_cart .content_shoppingCart .content .left_col .table thead tr th:nth-last-child(3) {
  width: 60px;
  text-align: center;
}

.shopping_cart .content_shoppingCart .content .left_col .table tbody {
  border-top: 0;
}

.shopping_cart .content_shoppingCart .content .left_col .table tbody tr th {
  position: relative;
  width: 300px;
  height: 116px;
  padding: 0;
}

.shopping_cart .content_shoppingCart .content .left_col .table tbody tr th .image {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-top: 14px;
}

.shopping_cart .content_shoppingCart .content .left_col .table tbody tr th .image .cross {
  position: absolute;
  top: -6px;
  right: -3px;
}

.shopping_cart .content_shoppingCart .content .left_col .table tbody tr th .card_content {
  display: inline-block;
  vertical-align: top;
  padding: 0;
  margin-top: 24px;
  margin-left: 13px;
}

.shopping_cart .content_shoppingCart .content .left_col .table tbody tr th .card_content .card_title {
  margin: 0;
  margin-bottom: 7px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

.shopping_cart .content_shoppingCart .content .left_col .table tbody tr th .card_content .card_text {
  margin: 0;
  margin-bottom: 7px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #A1A8C1;
}

.shopping_cart .content_shoppingCart .content .left_col .table tbody tr th .card_content .card_text span {
  font-size: 14px;
  line-height: 16px;
}

.shopping_cart .content_shoppingCart .content .left_col .table tbody tr td:nth-last-child(1) {
  width: 60px;
  text-align: center;
}

.shopping_cart .content_shoppingCart .content .left_col .table tbody tr td {
  padding: 0;
  vertical-align: middle;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #15245E;
}

.shopping_cart .content_shoppingCart .content .left_col .table tbody tr td .cartInput {
  width: 57px;
  margin: 0 auto;
  text-align: center;
}

.shopping_cart .content_shoppingCart .content .left_col .table tbody tr td .cartInput .value-button {
  display: inline-block;
  margin: 0px;
  width: 12px;
  height: 15px;
  text-align: center;
  vertical-align: middle;
  background: #E7E7EF;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #BEBFC2;
}

.shopping_cart .content_shoppingCart .content .left_col .table tbody tr td .cartInput .value-button:hover {
  cursor: pointer;
}

.shopping_cart .content_shoppingCart .content .left_col .table tbody tr td .cartInput .inputNumber {
  text-align: center;
  border: none;
  margin: 0;
  margin-bottom: 1px;
  padding: 0;
  width: 27px;
  height: 16px;
  background: #F0EFF2;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #BEBFC2;
}

.shopping_cart .content_shoppingCart .content .left_col .table tbody tr td .cartInput input[type=number]::-webkit-inner-spin-button,
.shopping_cart .content_shoppingCart .content .left_col .table tbody tr td .cartInput input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.shopping_cart .content_shoppingCart .content .left_col .table tbody tr td .cartInput #decrease {
  margin-right: -4px;
}

.shopping_cart .content_shoppingCart .content .left_col .table tbody tr td .cartInput #increase {
  margin-left: -4px;
}

.shopping_cart .content_shoppingCart .content .left_col .table tbody tr td .cartInput #input-wrap {
  margin: 0px;
  padding: 0px;
}

.shopping_cart .content_shoppingCart .content .left_col .two_button {
  margin-top: 37px;
}

.shopping_cart .content_shoppingCart .content .left_col .two_button .update_button {
  float: left;
  cursor: pointer;
  text-align: center;
  width: 134px;
  height: 40px;
  background: #FB2E86;
  border-radius: 2px;
}

.shopping_cart .content_shoppingCart .content .left_col .two_button .update_button span {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 40px;
  color: #FFFFFF;
}

.shopping_cart .content_shoppingCart .content .left_col .two_button .clear_button {
  float: right;
  cursor: pointer;
  text-align: center;
  width: 134px;
  height: 40px;
  background: #FB2E86;
  border-radius: 2px;
}

.shopping_cart .content_shoppingCart .content .left_col .two_button .clear_button span {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 40px;
  color: #FFFFFF;
}

.shopping_cart .content_shoppingCart .content .right_col .top_element {
  margin-left: 30px;
  margin-bottom: 32px;
}

.shopping_cart .content_shoppingCart .content .right_col .top_element h4 {
  margin-bottom: 40px;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  line-height: 23px;
  color: #1D3178;
}

.shopping_cart .content_shoppingCart .content .right_col .top_element .container-fluid {
  background: #F4F4FC;
  border-radius: 3px;
  padding: 30px 30px 32px 29px;
}

.shopping_cart .content_shoppingCart .content .right_col .top_element .container-fluid .text {
  position: relative;
  margin-bottom: 42px;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #1D3178;
}

.shopping_cart .content_shoppingCart .content .right_col .top_element .container-fluid .text span {
  float: right;
}

.shopping_cart .content_shoppingCart .content .right_col .top_element .container-fluid .text:after {
  position: absolute;
  content: '';
  top: 33px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #E8E6F1;
}

.shopping_cart .content_shoppingCart .content .right_col .top_element .container-fluid .check {
  vertical-align: middle;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #8A91AB;
}

.shopping_cart .content_shoppingCart .content .right_col .top_element .container-fluid .check svg {
  vertical-align: middle;
  margin-right: 5px;
}

.shopping_cart .content_shoppingCart .content .right_col .top_element .container-fluid .proceed_button {
  cursor: pointer;
  text-align: center;
  margin-top: 30px;
  width: 300px;
  height: 40px;
  background: #19D16F;
  border-radius: 3px;
}

.shopping_cart .content_shoppingCart .content .right_col .top_element .container-fluid .proceed_button a {
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 40px;
  color: #FFFFFF;
}

.shopping_cart .content_shoppingCart .content .right_col .bottom_element {
  margin-left: 30px;
}

.shopping_cart .content_shoppingCart .content .right_col .bottom_element h4 {
  margin-bottom: 26px;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  line-height: 23px;
  color: #1D3178;
}

.shopping_cart .content_shoppingCart .content .right_col .bottom_element .container-fluid {
  background: #F4F4FC;
  border-radius: 3px;
  padding: 30px 32px 21px 32px;
}

.shopping_cart .content_shoppingCart .content .right_col .bottom_element .container-fluid form {
  padding: 0;
  background: #F4F4FC;
}

.shopping_cart .content_shoppingCart .content .right_col .bottom_element .container-fluid form input {
  position: relative;
  border: 0;
  padding: 0;
  border-bottom: 1px solid #C7CEE4;
  outline: 0;
  width: 300px;
  height: 35px;
  margin-bottom: 30px;
  background: #F4F4FC;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #C5CBE3;
}

.shopping_cart .content_shoppingCart .content .right_col .bottom_element .container-fluid form input:nth-last-child(1) {
  margin-bottom: 30px;
}

.shopping_cart .content_shoppingCart .content .right_col .bottom_element .container-fluid form input[type="text"]::-webkit-input-placeholder {
  color: rgba(21, 24, 117, 0.1);
}

.shopping_cart .content_shoppingCart .content .right_col .bottom_element .container-fluid form a {
  float: right;
  margin-right: 15px;
  text-align: center;
  vertical-align: middle;
}

.shopping_cart .content_shoppingCart .content .right_col .bottom_element .container-fluid .calculate_button {
  cursor: pointer;
  text-align: center;
  width: 179px;
  height: 41px;
  background: #FB2E86;
  border-radius: 2px;
}

.shopping_cart .content_shoppingCart .content .right_col .bottom_element .container-fluid .calculate_button a {
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  line-height: 41px;
  color: #FFFFFF;
}
/*# sourceMappingURL=shoppingcart.css.map */